<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        로그인을 했을시에 뜨는 메인페이지
        메인페이지명 클릭 막기. 호버만 가능하도록.
        메인페이지명 위에 호버했을때 드롭다운으로 소메뉴 나오기
        영어/한글 둘 중에 하나로 메뉴명 통일
    -->
    <ul>
        <li>
            <a href="#">show</a>
            <!-- 공연정보 앨범/캘린더, 티켓 오픈일 -->
        </li>
        <li>
            <a href="#">mypage</a>
            <!-- 캘린더, 회원정보, 예매권, 찜한공연, 포인트/쿠폰 -->
        </li>
        <li>
            <a href="#">board</a>
            <!-- About, News, Community, Q&A, Review -->
        </li>
        <!-- 관리자로 로그인시, 아래 메뉴가 보임 -->
        <li>
            <a href="#">관리자</a>
            <!--
                주메뉴 : 공연관리, 회원관리, point/coupon, 통계,
                부가메뉴 : 커뮤니티, board
            -->
        </li>
    </ul>
</body>
</html>