<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show View</title>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <form method="post" action="/show/program/showView" name="" id="">
        <table>
            <tr>
                <th>제목</th>
                <td name="title" id="title"></td>
            </tr>
            <tr>내용</tr>
            <td name="content" id="content"></td>
        </table>
        <input type="hidden" name="idx" id={idx}>
        <input type="submit" name="modifyBtn" id="modifyBtn">
    </form>
    <button>삭제하기</button>
    <script type="text/javascript">
        console.log(location.pathname.split('/'))
        async function view(){
            // /show/program/showview
            const [,,,idx] = location.pathname.split('/') // ['', 'show', 'program', 'showview']
            const subjectBox = document.querySelector('#subject')
            const nicknameBox = document.querySelector('#nickname')
            const contentBox = document.querySelector('#content')

            const response = await axios.post(`http://localhost:4001/api/board/view/${idx}`,{
                withCredentials:true,
            })

            if ( response.data.errno === 0) {
                const [{subject,nickname,content}] = response.data.result
                console.log(response.data)
                subjectBox.innerHTML = subject
                nicknameBox.innerHTML = nickname
                contentBox.innerHTML = content
            } else {

            }
        }
        view()
    </script>
</body>
</html>