<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Write</title>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <!-- 관리자만 사용할 수 있는 게시판 작성 -->
    <form method="post" action="/show/program/showWrite" name="writeForm" id="writeForm">
        <table>
            <tr>
                <th>idx</th>
                <td><input type="text" name="idx" id="idx" placeholder="idx"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td><input type="text" name="userid" id="userid" placeholder="userid"></td>
            </tr>
            <tr>
                <th>subject</th>
                <td>
                    <select name="subject" id="subject">
                        <option value="notice">notice</option>
                        <option value="show">show</option>
                        <option value="event">event</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" id="title" placeholder="타이틀"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea type="text" name="content" id="content"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="작성하기">
    </form>

    <script type="text/javascript">
        const writeForm = document.querySelector('#writeForm');
        writeForm.addEventListener('submit',async (e)=>{
            e.preventDefault();
            const data = {
                idx: document.querySelector('#idx').value,
                subject: document.querySelector('#subject').value,
                userid: document.querySelector('#userid').value,
                title: document.querySelector('#title').value,
                content: document.querySelector('#content').value
            };
            console.log(data);
            const response = await axios.post('http://localhost:4001/show/program/showwrite',data);
            
            if(response!==undefined){
                location.href = `/show/program/showlist`;
            }else{
                alert('에러!');
            }
        });
        
    </script>
</body>
</html>