@import url('/css/index/_fontLayout.css'); /*폰트 import*/
@import url('/css/index/_settingLayout.css');
@import url('/css/index/_headerLayout.css');
@import url('/css/index/_mainContentLayout.css');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    border-style: none;
  }

body{
    font-family: 'MADE';
    font-size: 14px;
    font-weight: ExtraBold;
    color:#232323;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link, :active, :visited{
    color: #A5A5A5;
}


#wrap{
    /* background: url('../img/index/index.png') no-repeat; */
}



.backGround{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    content: "";
    position: absolute;
    background: url('/img/index/index.png') no-repeat;
    background-position: 100%;
    opacity: 0.8;
}


header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
    width: 80vw;
    height: 10vh;
}


ul{
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

li{
    font-size: 23px;
}


/* width height */


.w100h90{
    width: 100vw;
    height: 90vh;
}

.w80{
    width: 80%;
}

.w100{
    width: 100%;
}


.h80{
    height: 80%;
}

.h100{
    height: 100%;
}

/* flex */
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.marginAuto{
    margin: 0 auto;
}

/* color */


/* box */
.rad5{
    border-radius: 5px;
}

.memberBox{
    background: #fff;
    border-radius: 20px;
    width: 30vw;
    height: 75vh;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}


.signInBox{
    height:480px;
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.signInBox:nth-child(1){
    margin-top: 50px;
}

#signUpLink > a {
    margin: 0 auto;
    font-size: 20px;
}

#signInFrm{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 100%;
    height: 25%;
}


.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    border-radius: 5px;
    background: #efefef;
}    
  

#userIcon{
    display: inline-block;
    width: 20%;
    background: url(/img/icon/icon_person.png) no-repeat 15px;
}
#passwordIcon{
    display: inline-block;
    width: 20%;
    background: url(/img/icon/icon_lock.png) no-repeat center 15px;
}

#tempId{
    width: 60%;
}

.inputs > select{
    border-style: none;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}


.inputs > input[type=text]{
    border-style: none;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}

.inputs > input[type=password]{
    border-style: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}



.whBtn{
    width: 95%;
    height: 80%;
    background: rgba(0,0,0,0.800000011920929);
    border-radius: 5px;
}

.whBtn > input{
    border-style: none;
    background: none;
    font-size: 26px;
    line-height: 300%;
    color:#fff;
}

.kakaoBox{
    height: 15%;
    width: 95%;
    padding: 5%;
    border: solid 2px darkgray;
    margin: 30px 0px 20px 0;
}


.kakao {
    color: rgba(0,0,0,1);
    font-size: 30px;
    text-align: center;
    /* font-family: Roboto; */
}

/*signup*/

#signUpFrm{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding-top: 50px;
}


.signUpTr{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.signUpTr > td{
    height: 100%;
    width: 100%;
}


.inputName{
    width: 20%;
}

.signUpBox{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95%;
}

#signUpTable{
    height: 100%;
    width: 100%;
}

.accountFrmHead {
    font-size: 50px;
    color:#232323;
}

#signUpBtn{
    width: 80%;
    height: 100%;
    background: none;
    font-size: 26px;
    color:#fff;

}


#signUpSbm{
    width: 95%;
    height: 60%;
    border-radius: 5px;
    background: rgba(0,0,0,0.800000011920929);

}

.inputBox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 85%;
    height: 25%;
}

.whBtn{
    width: 95%;
    height: 80%;
    background: rgba(0,0,0,0.800000011920929);
    border-radius: 5px;
}

.whBtn > input{
    border-style: none;
    background: none;
    font-size: 26px;
    line-height: 320%;
    color:#fff;
}


.msg {
    display: block;
    font-size: 16px;
    margin: 3px 0px 10px 0px;
    color:#232323;
}



/* 기본 */


#header{
    width:100vw;
    height: 55px; /*8vh*/
    margin-bottom: 30px;
    box-sizing: border-box;
    font-family:'MADE';
}
#header > #nav{
    width: 80%;
    height: 40px;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 22px;
    /* 사이즈 em으로 바꾸기 */
}

#nav > #logoBox {
    width:25%;
    height: 100%;
    padding-left: 85px;
    box-sizing: border-box;
}
#nav > #logoBox > a{
    font-size: 35px;
    /* 추후 폰트수정 */
}


/* 메인메뉴바 시작 */
#nav > ul {
    width:30%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#nav > ul > li {
    width:20%;
    text-align: center;
}