* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    border-style: none;
  }

body {
    font-size: 14px;
    font-family: Roboto;
    font-weight: ExtraBold;
    background: black;
    color:darkgrey;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: black;
}

#signin {
    width: 30vw;
    height: 20vh;
}

#wrap{
    background: url("../public/image/index/index.png") no-repeat;
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
    width: 80vw;
    height: 10vh;
}

#logo{

}

ul{
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

li{
    font-size: 23px;
}


/* width height */
.wrap{
    width: 100vw;
    height: 100%;
}


.wh100{
    width: 100vw;
    height: 100vh;
}

.w80{
    width: 80%;
}

.w100{
    width: 100%;
}

.h20{
    height: 20%;
}

.h80{
    height: 80%;
}

.h100{
    height: 100%;
}

/* flex */
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginAuto{
    margin: 0 auto;
}

/* color */


/* box */
.rad5{
    border-radius: 5px;
}

.memberBox{
    background: #fff;
    border-radius: 5%;
    width: 30vw;
    height: 75vh;
    margin: 0 auto;
}


.signInBox{
    height:70%;
    width: 90%;
    margin: 0 auto;
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 100%;
    height: 30vh;
}


.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 25%;
    border-radius: 5px;
    background: #efefef;
}    
  

#userIcon{
    display: inline-block;
    width: 20%;
    background: url(./image/index/user.png) no-repeat center 24px;
}
#passwordIcon{
    display: inline-block;
    width: 20%;
    background: url(./image/index/pw.png) no-repeat center 24px;
}

#userId{
    width: 70%;
}

.inputs > select{
    border-style: none;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}

.inputs > input[type=button]{
    border-style: none;
    height: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}


.inputs > input[type=text]{
    border-style: none;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}

.inputs > input[type=password]{
    border-style: none;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    background: #efefef;
    color: rgba(0,0,0,0.5);
}



.whBtn{
    width: 95%;
    height: 25%;
    background: rgba(0,0,0,0.800000011920929);
}

.whBtn > input{
    border-style: none;
    background: none;
    font-size: 26px;
    line-height: 220%;
    color:#fff;
}

.kakaoBox{
    height: 20%;
    width: 95%;
    padding: 5%;
    border: solid 2px darkgray;
    margin-bottom: 20px;

}


.kakao {
    color: rgba(0,0,0,1);
    font-size: 30px;
    text-align: center;
    font-family: Roboto;
}

/*signup*/



#signUpFrm{
    width: 100%;
    height: 90%;
    margin: 0 auto;

}


.signUpTr{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.signUpTr > td{
    height: 100%;
    width: 100%;
}


.inputName{
    width: 20%;
}

.signUpBox{
    display: flex;
    align-items: center;
    height: 50vh;
}

#signUpTable{
    height: 80%;
    width: 100%;
}

.accountFrmHead {
    font-family: roboto;
    font-size: 50px;
    margin-bottom: 5vh;
}