@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 레이아웃(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */
@import url('../index/_calBoxLayer.css'); /* 본문 왼쪽 달력 박스 */
@import url('../index/_contentLayout.css'); /* 본문 오른쪽 메인박스 틀 */


#wrap{
    overflow: hidden;
    margin: 0 auto;
}


/* 헤더 #header */

/* 본문 #content */
/* 본문 왼쪽 달력 박스  : #content > #calContent */
/* 본문 오른쪽 박스  : #content > #mainContent */

/* 카드 컨텐츠 타이틀 */
#content > #mainContent > #mainContentTitle{
    width: 100%;
    height: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;

}
/* 카드 컨텐츠 연월 표시 span */
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth > span{
    margin-right: 15px;
    vertical-align: bottom;
    font-size: 28px;
    /*글자 내부적인 여백때문에 혼자 들뜸
    그걸 없애주기 위해 line-height사용*/
    line-height: 60%; 
}

#wrap{
    /* overflow: hidden; */
    margin: 0 auto;
}
/* 헤더 */
/* 본문 왼쪽 달력 박스  : calContent */
#content > #calContent{
    width: 25%;
    height: 100%;
    padding: 23px 33px 33px 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right:1px solid #E3E7EA;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
}

.pickbox{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.profileImg{
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: brown;
    margin-bottom: 15px;
    position: relative;
    border: 11px solid #fff;
    background-image: url('../../img/poster/musical.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}
.picBlankBackPic{
    width: 100%;
    height: 300px;
    left: 19px;
    top: 90px;
    background: #465D58;
    position: absolute;
    z-index: -2;
    background-image: url('../../img/poster/broadway.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}

#userName{
    display: block;
    font-size: 50px;
    text-align: center;
}
.userNick{
    display: block;
    font-size: 30px;
    text-align: center;
}
.line{
    margin: 15px 0;
    border-bottom: 1px solid black;
} 

#menuBox{
    width: 100%;
    box-sizing: border-box;
}
#mainContent > .picBlank{
    /* background: blue; */
    height: 280px;
}
#menuBox > #itemBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menuBox > #itemBox > span > input{
    display: none;
}
#menuBox > #itemBox > span > label{
    width:100%;
    height: 70px;
    margin-top: 12px;
    border-radius: 10px;
    /* text-align: center; */
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    border: 1px solid #465D59;
    color: #465D59;
}
#menuBox > #itemBox > span > label:hover{
    background: #465D59;
    color: #fff;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.inputBox{
    display: flex;
}
.inputBox > .requiredBox{
    margin-right: 100px;
}
.inputBox > .requiredBox > .requiredInfo {
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
}
.inputBox > .requiredBox > .requiredInfo >li{
    padding: 10px 15px;
    font-size: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.inputBox > .requiredBox > .requiredInfo >li:first-child{
    width: 180px;
    margin-right: 10px;
    border-radius: 10px;
    background: #A8BEBF;
}
.inputBox > .requiredBox > .requiredInfo >li:last-child{
    width: 380px;
    margin-right: 10px;
    border-bottom: 1px solid #465D59;
    opacity: 80%;
}


#calContent > #userBadge > #signOut{
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    background: #465D59;
    display: inline-block;
    box-sizing: border-box;
}

#content > #mainContent > #mainCal {
    width: 85%;
    height: 70%;
    margin: 50px 0 0 35px;
    border-radius: 20px;
    /* background: #465D58; */
}
#insertInfo > li > input{
    display: none;
}
#insertInfo > li > label{
    /* margin-top: 28px; */
    width: 700px;
    height: 600px;
    border-radius: 10px;
    bottom: -10px;
    right: 0;
    background: #fff;
    z-index: 100;
    display: inline-block;
    position: absolute;
}

#tableBox{
    /* padding: 10px 15px; */
    margin-top: 150px;
    font-size: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.optionBox{
    display: flex;
    height: 55px;
    margin-bottom: 25px;
}
.title{
    width: 180px;
    height: 100%;
    margin-right: 20px;
    border-radius: 10px;
    background: #A8BEBF;
    padding: 10px;
    box-sizing: border-box;
}
.optionBox > li > input{
    display: flex;
    height: 50px;
}
.box{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 388px;
    height: 50px;  
    margin-right: 15px;
    font-size: 30px;
    text-align: center;
    color:#465D58;
    border-bottom: 1px solid #465D59;
}
.dobBox{
    display: flex;
}
.dobBox > input{
    display: inline-block;
    align-items: center;
    width: 120px;
    height: 50px;  
    margin-right: 15px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color:#465D58;
    border-bottom: 1px solid #465D59;
}
.genderBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.genderBox > span > input{
    display: none;
}
.genderBox > span > .labelGender01, .labelGender02{
    display: inline-block;
    width: 188px;
    height: 50px;  
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #465D59;
} 
.genderBox > span > .labelGender01:hover, .labelGender02:hover{
    background: #465D58;
    color: #fff;
}
.genderBox > span > input[type="radio"]:checked+label{
    background: #465D58;
    color: #fff;
} 

.mobileBox{
    display: flex; 
}
.mobileBox > input{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;  
    margin-right: 15px;
    font-size: 30px;
    text-align: center;
    color:#465D58;
    border-bottom: 1px solid #465D59;
}
.userAddressBox{
    display: flex;
}
.userAddressBox > .infoValue:first-child{
    height: 50px;
    width: 270px;
    margin-right: 20px;
    border-bottom: 1px solid #465D59;
}
.userAddressBox > .infoValue:last-child{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #465D59;
    background: none;
}
.userAddressBox > .infoValue:last-child:hover{
    background: #465D58;
    color: #fff;
}

.submitBox > input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #465D58;
    background: none;
    font-size: 30px;
    color:#465D58
}
.submitBox > input:hover{
    background: #465D58;
    color: #fff;
}

.off{
    display: none;
}