@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 레이아웃(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */
@import url('../index/_calBoxLayer.css'); /* 본문 왼쪽 달력 박스 */
@import url('../index/_contentLayout.css'); /* 본문 오른쪽 메인박스 틀 */

/*
    현진 작성 CSS 읽는 방법!
    가로세로 -> 여백 -> 정렬순 -> 그 외 꾸밈(box-sixing, 선굵기 등)
    이 순서대로 작성하기 때문에 만약 여백이 먼저 작성되었다면 가로세로 값은 없다는 뜻이에요!
*/

#wrap{
    overflow: hidden;
    margin: 0 auto;
}


/* 헤더 #header */

/* 본문 #content */
/* 본문 왼쪽 달력 박스  : #content > #calContent */
/* 본문 오른쪽 박스  : #content > #mainContent */

/* 카드 컨텐츠 타이틀 */
#content > #mainContent > #mainContentTitle{
    width: 100%;
    height: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;

}
/* 카드 컨텐츠 연월 표시 span */
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth > span{
    margin-right: 15px;
    vertical-align: bottom;
    font-size: 28px;
    /*글자 내부적인 여백때문에 혼자 들뜸
    그걸 없애주기 위해 line-height사용*/
    line-height: 60%; 
}



#itemBox{
    position: absolute;
    top: 20%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'basicLight';
    src: url('../../font/NotoSansKR-Light.otf') format('truetype');
    padding: 50px 0 0 50px;
}


/* 버튼 공통 속성 */
.miniBtn{
    width: 25px;
    height: 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #F4D3AA;
    /* accent-color:#465D59; */
    accent-color: #F4D3AA;
    box-sizing: border-box; 
}

/* .miniBtn > img{
    width: 22px;
    height: 22px;
} */


#wrap{
    /* overflow: hidden; */
    margin: 0 auto;
}
/* 헤더 */
/* 본문 왼쪽 달력 박스  : calContent */
#content > #calContent{
    width: 25%;
    height: 100%;
    padding: 23px 33px 33px 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right:1px solid #E3E7EA;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    box-sizing: border-box;
}


/* 사용자명, level이 표시되는 뱃지 div */
#content > #calContent > #userBadge{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
/* level 표시 icon */
#content > #calContent > #userBadge > #userLevel{
    width: 52px;
    height: 52px;
    margin-right: 16px;
    padding: 8px;
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    background: #465D59;
    display: inline-block;
    box-sizing: border-box;
}


#content > #calContent > #userBadge > #userName{
    color: #465D58;
    font-size: 39px;
}


/* 여기까지 showCard와 동일
타이틀 h1의 margin-bottom만 다름. (line 28)*/

#content > #mainContent > #mainCal {
    width: 75%;
    height: 68%;
    border: 3px solid #E3E7EA;
    margin: 50px 0 0 50px;
    border-radius: 20px;
}

#content > #calContent > #calSmall{
    width: 100%;
    /* height : clamp (520px,68%,800px); */
    height: 68%;
    min-height: 280px;
    /* min-height: 260px; */
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
    background: #F4D3AA;
    box-shadow: 0px 25px 37px #F2F2F2;
    box-sizing: border-box;
}

/* 일정 생성 버튼 */
#content > #calContent > #createEventBtn{
    width: 100%;
    height: 20%;
    min-height: 48px;
    max-height: 55px;
    margin: 3% 0 0 0;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'basicLight';
    text-align: center;
    color: #FFF;
    background: #465D58;
}


#tableBox{
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    /* background-color: #465D58; */
    opacity: 0.4;
    background: #F4D3AA;
}

.requiredBox{
    width: 50%;
    height: 80%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F2F2F2;
}

.line{
    border-right: 2px solid #465D58;
    height: 80%;
}

.optionalBox{
    width: 50%;
    height: 80%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requiredInfo, .optionalInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.infoKey{
    font-family: 'basicLight';
    src: url('../../font/NotoSansKR-Light.otf') format('truetype');
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    width: 45%;
}

.infoValue{
    
    width: 55%;
    font-family: 'basicLight';
    src: url('../../font/NotoSansKR-Light.otf') format('truetype');
    font-size: 18px;
    color:#465D58;

}



#off{

}

#userOptionFrm {
    background: blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#userOptionFrm > input {

}

.optionBox{
    background: red;
}