@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 레이아웃(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */
@import url('../index/_calBoxLayer.css'); /* 본문 왼쪽 달력 박스 */
@import url('../index/_contentLayout.css'); /* 본문 오른쪽 메인박스 틀 */


#wrap{
    overflow: hidden;
    margin: 0 auto;
}


/* 헤더 #header */

/* 본문 #content */
/* 본문 왼쪽 달력 박스  : #content > #calContent */
/* 본문 오른쪽 박스  : #content > #mainContent */

/* 카드 컨텐츠 타이틀 */
#content > #mainContent > #mainContentTitle{
    width: 100%;
    height: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;

}
/* 카드 컨텐츠 연월 표시 span */
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth > span{
    margin-right: 15px;
    vertical-align: bottom;
    font-size: 28px;
    /*글자 내부적인 여백때문에 혼자 들뜸
    그걸 없애주기 위해 line-height사용*/
    line-height: 60%; 
}

#wrap{
    /* overflow: hidden; */
    margin: 0 auto;
}
/* 헤더 */
/* 본문 왼쪽 달력 박스  : calContent */
#content > #calContent{
    width: 25%;
    height: 100%;
    padding: 23px 33px 33px 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right:1px solid #E3E7EA;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
}

.pickbox{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.profileImg{
    width: 380px;
    height: 380px;
    border-radius: 100%;
    background: brown;
    margin-bottom: 15px;
}

.userId{
    display: block;
    font-size: 50px;
    text-align: center;
}
.userNick{
    display: block;
    font-size: 30px;
    text-align: center;
}
.line{
    margin: 15px 0;
    border-bottom: 1px solid black;
} 

#menuBox{
    width: 100%;
    box-sizing: border-box;
}
#menuBox > #itemBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menuBox > #itemBox > span > input{
    display: none;
}
#menuBox > #itemBox > span > label{
    display: inline-block;
    width:100%;
    height: 70px;
    margin-top: 12px;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    font-size: 38px;
    border: 1px solid #465D59;
    color: #465D59;
}
#menuBox > #itemBox > span > label:hover{
    background: #465D59;
    color: #fff;
}

#mainContent > .requiredBox > .requiredInfo {
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
}
#mainContent > .requiredBox > .requiredInfo >li{
    padding: 10px 15px;
    font-size: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#mainContent > .requiredBox > .requiredInfo >li:first-child{
    width: 180px;
    margin-right: 10px;
}
#mainContent > .requiredBox > .requiredInfo >li:last-child{
    width: 500px;
    margin-right: 10px;
    border-radius: 10px;
    background: #A8BEBF;
    opacity: 80%;
}




#content > #calContent > #userBadge > #userName{
    color: #465D58;
    font-size: 39px;
}

#calContent > #userBadge > #signOut{
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    background: #465D59;
    display: inline-block;
    box-sizing: border-box;
}

#content > #mainContent > #mainCal {
    width: 85%;
    height: 70%;
    /* border: 3px solid #E3E7EA; */
    margin: 50px 0 0 35px;
    border-radius: 20px;
    /* background: #465D58; */
}