@import url('../index/_fontLayout.css');
@import url('../index/_headerLayout.css');
@import url('../index/_settingLayout.css');

body {
    zoom:100%;
}

#wrap{
    width:100%;
    margin:0 auto;
}

#join_info{
    margin-top: 8% auto;
    width: 60%;
}