@import url('../index/_fontLayout.css');
@import url('../index/_headerLayout.css');
@import url('../index/_settingLayout.css');

body {
    zoom:100%;
}

#wrap{
    margin:0 auto;
    font-size: 22px;


}

#join{
    width:80%;
    margin: 5% auto 8% auto;
    position: relative;

}

#join_info{
    width: 90%;
    margin: 5% auto;
    margin-bottom: 0;
    padding: 10% 17%;
    padding-bottom: 6%;
    box-sizing: border-box;  
    position: relative; 


}

table{
    margin-top:3%;
    border-spacing: 0 3px;
    padding:2px 4px;
    box-sizing: border-box;
    color:#db6039;
    font-weight: 1000;
}

tr td {
    font-weight: 1000;
}

td:nth-child(1){
    text-align: end;
   
}

td:nth-child(2){
    padding-left: 8%;
    
}

#notice{
    margin-top:5%;
}

#notice > p {
    font-weight: 600;
}

p {
    margin-top:2%;
}

#notice_content{
    margin-top:3%;


}

#notice_content p span{
    padding:2px 4px;
    box-sizing: border-box;
    color:#db6039;
    font-weight: 600;


}



#button{
    margin-top:10%;
    text-align: end;
}

button > a{
    color:#db6039;
    font-size: 22px;
    font-weight: 600;

}

#join::before{
    content: "";
    background: url('../../img/index/welcome.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
    opacity: 0.3;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    
}