<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/account/account.css" rel="stylesheet" type="text/css">
    <link href="/css/account/myBenefit.css" rel="stylesheet" type="text/css">

    <script src="/script/account/myBenefit.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "nav.html" %}
        <main id="content">
            <div id="calContent" dd>
                <div id="calSmall">
                </div>
            </div>
            <div id = "mainContent">
                <span id ="userImg"></span>
                <table id="userContent">
                    <tr>
                        <td>
                            <span>
                                아이디:
                            </span>
                        </td>
                        <td id="userId" class="userInfo">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            닉네임:
                        </td>
                        <td id="userNickName" class="userInfo">

                        </td>
                        <td>
                            <input type="button" vlaue="닉네임 변경">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            레벨:
                        </td>
                        <td id="userLevel" class="userInfo">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            가입일:
                        </td>
                        <td id="userDoj" class="userInfo">

                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</body>

</html>