<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/account/myBenefit.css">
    <script src="/script/account/myBenefit.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "nav.html" %}

        <div id="content">
            <div id="calContent">
                <div id="userBadge">
                    <span id="userLevel"></span>
                    <span id="userName"></span>
                    <span id="signOut"></span>
                </div>
                <button id="createEventBtn">+ 포인트 구매 </button>

                <div id="calSmall">
                </div>
            </div>

            <div id="mainContent">
                <!-- 타이틀 캘린더 -->
                <h1 style="font-family: 'korFontBold' !important;"> My page </h1>

                <div id="mainContentTitle">
                    <div id="mainContentTitleMonth">
                        <!-- <span> items </span> -->
                        <form method="post" id="itemBox">
                            <input type="radio" name="accountMng" id="myProfile" class="miniBtn">
                            <label for="myProfile">My Profile</label>
                            <input type="radio" name="accountMng" id="myCalendar" class="miniBtn">
                            <label for="myCalendar">My Calendar</label>
                            <input type="radio" name="accountMng" id="myBenefit" class="miniBtn" checked="checked">
                            <label for="myBenefit">My Benefit</label>
                            <input type="radio" name="accountMng" id="myPick" class="miniBtn">
                            <label for="myPick">My Pick</label>
                            <input type="radio" name="accountMng" id="myTicket" class="miniBtn">
                            <label for="myTicket">My Ticket</label>
                        </form>
                    </div>
                    <div id="mainContentTitleIcon">
                    </div>
                </div>

                <div id="mainCal">
                    <div id="tableBox">
                        <table cellspacing="0" cellpadding="0">
                            <caption>💰My Point💰</caption>
                            <thead>
                                <tr>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow">인</td>
                                    <td class="pointRow">아웃</td>
                                    <td class="pointRow">넷</td>
                                    <td class="pointRow"></td>
                                    <!-- point_idx 자리 -->
                                    <td class="pointRow"></td>
                                </tr>
                                <tr class="trAdd">
                                    <td></td>
                                    <td></td>
                                    <td><input type="text" class="inputRow"></td>
                                    <td><input type="text" class="inputRow"></td>
                                    <td><input type="text" class="inputRow"></td>
                                    <td></td>
                                    <!-- 6, 7 -->
                                    <td><button class="btnAdd">추가</button></td>
                                    <td type="hidden" class="point_idx"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total">
                                    <td>index</td>
                                    <td>date</td>
                                    <td>description</td>
                                    <td>point in</td>
                                    <td>point out</td>
                                    <td>point net</td>
                                    <!-- 6, 7 -->
                                    <td class="off"></td>
                                    <td type="hidden" class="point_idx"></td>
                                </tr>
                            </tbody>
                            <template id="pointTable">
                                <tr class = 'pointRows'>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>
                                    <td class="pointRow"></td>

                                    <td class="pointRow edit off"></td>
                                    <td class="pointRow edit off"></td>
                                    <td class="pointRow edit off"><input type="text"></td>
                                    <td class="pointRow edit off"><input type="text"></td>
                                    <td class="pointRow edit off"><input type="text"></td>
                                    <td class="pointRow edit off"></td>
                                    <!-- 6, 7 -->
                                    <td>
                                        <button class="btnAdd">추가</button>
                                        <button class="btnEdit off">수정</button>
                                        <button class="btnFin off">완료</button>
                                    </td>
                                    <td type="hidden" class="point_idx">111</td>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>