<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show/myCalendar.css">
    <script type="text/javascript">
    </script>
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}

        <div id="content">
            <div id="calContent">
                <div id="userBadge">
                    <span id="userLevel">3</span>
                    <span id="username">Ingoo Kwak</span>
                </div>
                 <button id="createEventBtn">+ Create Event</button>
                 
                <div id="calSmall">
                </div>

                <!-- weekly로 변수명 아직 못 고침 -->
                <div id="monthly">
                    <div id="monthlyTitle">Weakly</div>
                    <div id="monthTitleSmall">First Week</div>
                    <!-- 일정 카드 리스트 박스 -->
                    <div id="menuSmall">
                            <ul id="menuSmallCards">
                                <!-- 일정 카드 생성 -->
                                <li class="menuSmallCard">
                                    <!-- 좌측 : 일월 표시 -->
                                    <div class="calBox">
                                        <div class="calBoxDate">22</div>
                                        <div class="calBoxMonth">MAR</div>
                                    </div>
                                    <!-- 우측 : 일정 표시 -->
                                    <div class="listBox">
                                        <!-- 노란색 : 사용자 -->
                                        <div class="listBoxIn User">
                                            <!-- 점 -->
                                            <div class="Post User"></div>
                                            <div class="Memo User">
                                                <span class="memoTitle">타이틀을 길게 써볼까나</span>
                                                <span class="memoContent">메모</span>
                                            </div>
                                        </div>
                                        <!-- 하늘색 : 관리자 -->
                                        <div class="listBoxIn Admin">
                                            <!-- 점 -->
                                            <div class="Post Admin"></div>
                                            <div class="Memo Admin">
                                                <span class="memoTitle">타이틀</span>
                                                <span class="memoContent">메모를 길게 써보자</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuSmallCard">
                                    <!-- 좌측 : 일월 표시 -->
                                    <div class="calBox">
                                        <div class="calBoxDate">22</div>
                                        <div class="calBoxMonth">MAR</div>
                                    </div>
                                    <!-- 우측 : 일정 표시 -->
                                    <div class="listBox">
                                        <!-- 노란색 : 사용자 -->
                                        <div class="listBoxIn User">
                                            <!-- 점 -->
                                            <div class="Post User"></div>
                                            <div class="Memo User">
                                                <span class="memoTitle">타이틀을 길게 써볼까나</span>
                                                <span class="memoContent">메모</span>
                                            </div>
                                        </div>
                                        <!-- 하늘색 : 관리자 -->
                                        <div class="listBoxIn Admin">
                                            <!-- 점 -->
                                            <div class="Post Admin"></div>
                                            <div class="Memo Admin">
                                                <span class="memoTitle">타이틀</span>
                                                <span class="memoContent">메모를 길게 써보자</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuSmallCard">
                                    <!-- 좌측 : 일월 표시 -->
                                    <div class="calBox">
                                        <div class="calBoxDate">22</div>
                                        <div class="calBoxMonth">MAR</div>
                                    </div>
                                    <!-- 우측 : 일정 표시 -->
                                    <div class="listBox">
                                        <!-- 노란색 : 사용자 -->
                                        <div class="listBoxIn User">
                                            <!-- 점 -->
                                            <div class="Post User"></div>
                                            <div class="Memo User">
                                                <span class="memoTitle">타이틀을 길게 써볼까나</span>
                                                <span class="memoContent">메모</span>
                                            </div>
                                        </div>
                                        <!-- 하늘색 : 관리자 -->
                                        <div class="listBoxIn Admin">
                                            <!-- 점 -->
                                            <div class="Post Admin"></div>
                                            <div class="Memo Admin">
                                                <span class="memoTitle">타이틀</span>
                                                <span class="memoContent">메모를 길게 써보자</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>                              
                            </ul>
                    </div>
                </div>
            </div>
            
            <div id="mainContent">
                <!-- 타이틀 캘린더 -->
                <h1 style="font-family: 'korFontBold' !important;">캘린더</h1>
                
                <div id="mainContentTitle">
                    <div id="mainContentTitleMonth">
                        <span>MAR 2022</span>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_next_2x.png" style="transform: rotate(180deg);" id="prev_arrow">
                        </button>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_next_2x.png" id="next_arrow">
                        </button>
                    </div>
                    <div id="mainContentTitleIcon">
                        <button class="miniBtn">
                            <img src="/img/icon/icon_list_2x.png" id="List">
                        </button>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_grid_2x.png" id="grid">
                        </button>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_cal_2x.png" id="calBtn">
                        </button>
                    </div>
                </div>

                <div id="mainCal">

                </div>
            </div>
        </div>
    </div>
</body>
</html>