<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/account/myInfo2.css">
    <script src="/script/account/myInfo2.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "nav.html" %}

        <div id="content">
            <div id="calContent">
                <div class="picbox">
                    <div class="profileImg"></div>
                    <span id="userLevel" class="off"></span>
                    <span id="userName"></span>
                    <span class="userNick">bbb@gamil.com</span>
                    <div class="line"></div>
                </div>
    
                <div id="menuBox">
                    <!-- <span> items </span> -->
                    <form method="post" id="itemBox">
                        <span>
                            <input type="radio" name="accountMng" id="myProfile" class="miniBtn" checked="checked">
                            <label for="myProfile">My Profile</label>
                        </span>
                        <span>
                            <input type="radio" name="accountMng" id="myCalendar" class="miniBtn">
                             <label for="myCalendar">My Calendar</label>
                        </span>
                        <span>
                            <input type="radio" name="accountMng" id="myBenefit" class="miniBtn">
                             <label for="myBenefit">My Benefit</label>
                        </span>
                        <span>
                            <input type="radio" name="accountMng" id="myTicket" class="miniBtn">
                            <label for="myTicket">My Ticket</label>
                        </span>
                    </form>
                </div>
                <span id="signOut" class="off"></span>
            </div>                  

            <div id="mainContent">
                <div class="picBlank"></div>
                <div class="picBlankBack"></div>
                <div class="picBlankBackPic"></div>

                <div class="inputBox">
                    <span class="requiredBox">
                        <h1> My page </h1>
                        <ul class="requiredInfo">
                            <li class="infoKey"> ID : </li>
                            <li id="userID" class="infoValue requiredValue"></li>
                        </ul>
                        <ul class="requiredInfo">
                            <li class="infoKey"> Nickname : </li>
                            <li id="userNickName" class="infoValue requiredValue"></li>
                        </ul>
                        <ul class="requiredInfo">
                            <li class="infoKey"> JoinDate : </li>
                            <li id="userDoj" class="infoValue requiredValue"></li>
                        </ul>
                        <ul class="requiredInfo">
                            <li class="infoKey"> Level : </li>
                            <li id="userLv" class="infoValue requiredValue"></li>
                        </ul>
                        <span class="announce"> * 추가 정보를 입력하시면 더욱 편리한 티켓배송 서비스를 제공드릴 수 있습니다.</span>
                        <span class="announce1"> * 더욱 편한 서비스를 원하시면 오른쪽 빈 공란을 클릭해주세요.</span>
                        <template id="prevent">
                            <div id="insertInfo">
                                <li>
                                    <input type="checkbox" name="insertBtn" id="insertCheck">
                                    <label for="insertCheck" id="insertBtn"></label>
                                </li>
                            </div>
                        </template>
                    </span>
                    
                    <div id="tableBox">
                        <h1> Add Info </h1>
                        <template id="optionalOn">
                            <span class="optionalBox">
                                <ul class="optionalInfo">
                                    <li class="infoKey"> Name </li>
                                    <li id="userName" class="infoValue"></li>
                                </ul>
                                <ul class="optionalInfo">
                                    <li class="infoKey"> Date of birth </li>
                                    <li id="userDob" class="infoValue"></li>
                                </ul>
                                <ul class="optionalInfo">
                                    <li class="infoKey"> Gender </li>
                                    <li id="userGender" class="infoValue"></li>
                                </ul>
                                <ul class="optionalInfo">
                                    <li class="infoKey"> Mobile </li>
                                    <li id="userMobile" class="infoValue"></li>
                                </ul>
                                <ul class="optionalInfo">
                                    <li class="infoKey"> Address </li>
                                    <li id="userAddress" class="infoValue"></li>
                                </ul>
                            </span>
                        </template>
    
                        <template id="optionalOff">
                            <form method="post" action="/" id="userOptionFrm" class="optionalBox">
            <!-- leftBox -->
                                <div id="leftBox">
                                    <ul class="optionIdBox optionBox">
                                        <li class="infoKey title"> Name </li>
                                        <li><input type="text" id="userNameInput" class="infoValue box"  placeholder="이름을 입력하세요"></li>
                                    </ul>
                                    <ul class="optionDobBox optionBox">
                                        <li class="infoKey title"> Date of birth </li>
                                        <li class="dobBox">
                                            <input type="text" id="userDob01" class="userDob infoValue"
                                                placeholder="YYYY">
                                            <input type="text" id="userDob02" class="userDob infoValue"
                                                placeholder="MM">
                                            <input type="text" id="userDob03" class="userDob infoValue"
                                                placeholder="DD">
                                        </li>
                                    </ul>
                                    <ul class="optionGenderBox optionBox">
                                        <span class="optionBoxSpan">
                                            <li class="infoKey title"> Gender </li>
                                        </span>
                                        <li class="genderBox">
                                            <span>
                                                <input type="radio" name="userGender" id="f" value="0"
                                                    class="infoValue userGender">
                                                <label for="f" class="labelGender01">Female</label>
                                            </span>
                                            <span>
                                                <input type="radio" name="userGender" id="m" value="1"
                                                    class="infoValue userGender">
                                                <label for="m" class="labelGender02">Male</label>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
    
                <!-- rigntBox -->
                                <div id="rightBox">
                                    <ul class="optionMobileBox optionBox">
                                        <span class="optionBoxSpan">
                                            <li class="infoKey title"> Mobile </li>
                                        </span>
                                        <li class="mobileBox">
                                            <input type="text" id="userMobile01" class="userMobile infoValue" placeholder="010">
                                            <input type="text" id="userMobile02" class="userMobile infoValue" placeholder="1234">
                                            <input type="text" id="userMobile03" class="userMobile infoValue" placeholder="5678">
                                        </li>
                                    </ul>
                                    <ul class="optionAddressBox optionBox">
                                        <span class="optionBoxSpan">
                                            <li class="infoKey title"> Address </li>
                                        </span>
                                        <li class="userAddressBox">
                                            <input type="text" id="keyAddress" class="infoValue">
                                            <input type="button" id="kakaoAddress" value="주소 입력" class="infoValue">
                                        </li>
                                    </ul>
                                    <ul class="submitBox">
                                        <input type="submit" value="Save" id="submitBtn">
                                    </ul>
                                </div>
                            </form>
                        </template>
                    </div>
                </div>

            </div>
        </div>
        <div id="footer">
            <div id="leftFooter">
                <p>서울특별시 강동구 천호대로 995 금복빌딩 3,4층</p>
                <p>copyrightⓒ2022 Art6. All rights Reserved.</p>
            </div>
            <div id="rightFooter">
                <p>Captain <span>Jihyun Kim</span> Crew <span>Hyunjin Lee  Haeun Oh</span></p>
                <p>GitHub <a href="https://github.com/yellow-w/theGreatest6"> theGreatest6</span></p>
            </div>
        </div>
    </div>
</body>

</html>


<!-- <button id="createEventBtn">+ 포인트 구매 </button> -->