<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/account/myInfo.css">
    <script src="/script/account/myInfo.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "nav.html" %}

        <div id="content">
            <div id="calContent">
                <div id="userBadge">
                    <span id="userLevel"></span>
                    <span id="userName"></span>
                </div>
                <button id="createEventBtn">+ 포인트 구매 </button>

                <div id="calSmall">
                </div>
            </div>

            <div id="mainContent">
                <!-- 타이틀 캘린더 -->
                <h1 style="font-family: 'korFontBold' !important;"> My page </h1>

                <div id="mainContentTitle">
                    <div id="mainContentTitleMonth">
                        <!-- <span> items </span> -->
                        <form method = "post" id ="itemBox">
                            <input type ="checkbox" name ="accountMng" id ="myProfile" class="miniBtn"> <label for = "myProfile">My Profile</label>
                            <input type ="checkbox" name ="accountMng" id ="myCalendar" class="miniBtn"> <label for = "myCalendar">My Calendar</label>
                            <input type ="checkbox" name ="accountMng" id ="myBenefit"class="miniBtn"> <label for = "myBenefit">My Benefit</label>
                            <input type ="checkbox" name ="accountMng" id ="myPick" class="miniBtn"> <label for = "myPick">My Pick</label>
                            <input type ="checkbox" name ="accountMng" id ="myTicket" class="miniBtn"> <label for = "myTicket">My Ticket</label>
                        </form>
                    </div>
                    <div id="mainContentTitleIcon">
                        <!-- <button class="miniBtn">
                            <img src="/img/icon/icon_list_2x.png" id="List">
                        </button>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_grid_2x.png" id="grid">
                        </button>
                        <button class="miniBtn">
                            <img src="/img/icon/icon_cal_2x.png" id="calBtn">
                        </button> -->
                    </div>
                </div>

                <div id="mainCal">
                    <div id = "tableBox">
                        <span class = "requiredBox">
                            <ul class = "requiredInfo">
                                <li class ="infoKey"> ID </li>
                                <li id ="userID" class ="infoValue"></li>
                            </ul>
                            <ul class = "requiredInfo">
                                <li class ="infoKey"> Nickname </li>
                                <li id ="userNickName" class ="infoValue"></li>
                            </ul>
                            <ul class = "requiredInfo">
                                <li class ="infoKey"> Account create at </li>
                                <li id ="userDoj" class ="infoValue"></li>
                            </ul>
                            <ul class = "requiredInfo">
                                <li class ="infoKey"> userlevel </li>
                                <li id ="userLv" class ="infoValue"></li>
                            </ul>
                        </span>
                        <span class="line"></span>
                        <!-- <span class = "optionalBox">
                            <ul class = "optionalInfo">
                                <li class ="infoKey"> Name </li>
                                <li id ="userName" class ="infoValue"></li>
                            </ul>
                            <ul class = "optionalInfo">
                                <li class ="infoKey"> Date of birth </li>
                                <li id ="userDob" class ="infoValue"></li>
                            </ul>
                            <ul class = "optionalInfo">
                                <li class ="infoKey"> Gender </li>
                                <li id ="userGender" class ="infoValue"></li>
                            </ul>
                            <ul class = "optionalInfo">
                                <li class ="infoKey"> Mobile </li>
                                <li id="userMobile" class ="infoValue"></li>
                            </ul>
                            <ul class = "optionalInfo">
                                <li class ="infoKey"> Address </li>
                                <li id ="userAddress" class ="infoValue"></li>
                            </ul>
                        </span> -->


                        <template id = "on">
                            <span class="optionalBox">
                                <ul class="optionalInfo">
                                    <li class="infoKey"></li>
                                    <li id="userName" class="infoValue"></li>
                                </ul>
                            </span>
                        </template>



                        <div id="off" class="optionalBox">
                            <form method="post" action="/" id="userOptionFrm">
                                <ul class="optionIdBox optionBox">
                                    <li class="infoKey"> Name </li>
                                    <li><input type="text" id="userNameInput"></li>
                                </ul>
                                <ul class="optionDobBox optionBox">
                                    <li class="infoKey"> Date of birth </li>
                                    <li>
                                        <span><input type="text" id="userDob01" class="userDob"></span>
                                        <span><input type="text" id="userDob02" class="userDob"></span>
                                        <span><input type="text" id="userDob03" class="userDob"></span>
                                    </li>
                                </ul>
                                <ul class="optionGenderBox optionBox">
                                    <li class="infoKey"> Gender </li>
                                    <li>
                                        <span>
                                            <input type="radio" name="userGender" id="f" value="0">
                                            <label for ="f">여성</label>
                                        </span>
                                        <span>
                                            <input type="radio" name="userGender" id="m" value="1">
                                            <label for="m">남성</label>
                                        </span>
                                    </li>
                                </ul>
                                <ul class="optionMobileBox optionBox">
                                    <li class="infoKey"> Mobile </li>
                                    <li>
                                        <span>
                                            <input type="text" id="userMobile01" class="userMobile">
                                        </span>
                                        <span>
                                            <input type="text" id="userMobile02" class="userMobile">
                                        </span>
                                        <span>
                                            <input type="text" id="userMobile03" class="userMobile">
                                        </span>
                                    </li>
                                </ul>
                                <ul class="optionAddressBox optionBox">
                                    <li class="infoKey"> Address </li>
                        
                                    <li><input type="text" id="userAddress"></li>
                                </ul>
                                <ul class="submitBox">
                                    <input type="submit" value="등록하기">
                                </ul>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>