<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script/account/myInfo.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <main class="wrap">
        <table>
            <tr>
                <td>
                    아이디: 
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    닉네임: 
                </td>
                <td>
                    
                </td>
                <td>
                    <input type = "button" vlaue = "닉네임 변경">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </main>
</body>
</html>