<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/account/privacyPolicy.css" rel="stylesheet" type="text/css">
    <script src="/script/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap" class = "backGround">
        <!-- <header id="header">
            <div id="nav">
                <h1 id="logoBox">
                    <a href="/">
                        logo
                    </a>
                </h1>
                <ul>
                    <li><a id="signin" href="/account/member/signin">SIGN IN</a></li>
                    <li><a href="/show/program/showcard">SHOW</a></li>
                    <li><a id ="contact" href="/about/list">CONTACT</a></li>
                </ul>
            </div>
        </header> -->
        <main id="content">
            <div id ="whiteBox">
                <span>
                    <h3> Privacy Policy </h3>
                </span>
                <span>
                    <h4>
                        <p>When you use our services,</p>
                        <p>you’re trusting us with your information.</p>
                        <p>We understand this is a big responsibility</p>
                        <p>and work hard to protect your information </p>
                        <p>and put you in control.</p>
                    </h3>
                </span>
                <span>
                    <p>This Privacy Policy is meant to help you understand</p>
                    <p>what information we collect, why we collect it, and how you can update, manage, export, and delete your information.</p>
                </span>
                <span>
                    <form method="get" action="/account/member/signup">
                        <input type ="checkbox" name="check" id="privacyPolicy">
                        <label for ="privacyPolicy"> 
                            <input type = "submit" value ="I understand and agree." id="agree"> 
                        </label>
                    </form>
                </span>
            </div>
        </main>
    </div>
</body>

</html>
