<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/index.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="wh100 center">
        <main class="center memberBox">
            <article class="flexCol signInBox rad5">
                <section class="w100">
                    <h3 class="accountFrmHead">sign in</h3>
                </section>
                <section class="w100 kakaoBox marginAuto">
                    <span class="kakao">Kakao Talk</span>
                </section>
                <section class="w100 h100 marginAuto">
                    <form method="post" action="*" id="signInFrm" class="w100">
                        <ul class="inputBox flexCol">
                            <li class="inputs">
                                <span id ="userIcon"></span>
                                <input type="text" placeholder ="Name" name="signInId" autofocus>
                            </li>
                            <li class="inputs">
                                <span id ="passwordIcon"> </span>
                                <input type="text" placeholder="Password" name="signInPw">
                            </li>
                            <li class="whBtn">
                                <input type="submit" value="sign in">
                            </li>
                        </ul>
                    </form>
                </section>
            
            </article>
            <article>

            </article>
        </main>
    </div>
</body>

</html>

<!-- <div class="v16_401">
    <span class="v16_402">sign up</span>
</div>
<div class="v16_406">
    <div class="v16_404"></div>
    <span class="v16_405">Password</span>
</div>
<div class="input">
    <div class="v16_407"></div>
    <span class="v16_408">Email</span>
</div>
<div class="input">
    <div class="v16_410"></div>
    <span class="v16_411">Name</span>
</div>
<span class="signup">Or Sign Up Using</span>
<div class="v16_414">
    <span class="v16_415">Kakao Talk</span>
</div>
<span class="v16_416">Create Account</span> -->
    <!-- </div> -->
