<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/mainNav.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main id="wrap">
        <div id="header">
            <div id="nav">
                <h1 id="logoBox">
                    <a href="/">Team6</a>
                </h1>
                <ul id="mainMenu">
                    <li id="show">
                        <a href="/show/program/showcard">show</a>
                    </li>
                </ul>
            </div>
        </div>




    <!-- <td class="inputs">
        <input type="text" class="w80" id="userName" placeholder="name">
    </td> -->
    <!-- <tr class="signUpTr">
                                <td class="inputs">
                                    <select name="userYearOfBirth" id="userYearOfBirth">
                                        <option>Year</option>
                                    </select>
                                    <select name="userMonthOfBirth" id="userMonthOfBirth">
                                        <option>Month</option>
                                    </select>
                                    <select name="userDayOfBirth" id="userDayOfBirth">
                                        <option>Day</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="signUpTr">
                                <td class="inputs">
                                    <label for="female">Female</label>
                                    <input type="radio" name="gender" id="female" checked>
                                    <label for ="male">Male</label>
                                    <input type="radio" name="gender" id="male" >
                                </td>
                            </tr>
                            <tr class="signUpTr">
                                <td class="inputs">
                                    <input type="text" id="userMobile1" placeholder="mobile">
                                    <input type="text" id="userMobile2" >
                                    <input type="text" id="userMobile3" >
                                </td>
                            </tr>
                            <tr class="signUpTr">
                                <td class="inputs">
                                    <input type="text" id="userAddress1" placeholder="address1">
                                </td>
                            </tr>
                            <tr class="signUpTr">
                                <td class="inputs">
                                    <input type="text" id="userAddress2" placeholder="addresss2">
                                </td>
                            </tr>
                            <tr class="signUpTr">
                                <td class="inputs">
                                    <input type="text" id="userPostalCode" placeholder="postalcode">
                                </td>
                            </tr> -->
</body>
</html>