<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Write</title>
    <script src="/script/board/communityWrite.js"></script>
    <script src="/script/board/communityUpdate.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #fileBox{
            width:500px;
            min-height: 150px;
            padding:10px;
            border: 1px dotted #f1f1f1;
        }

        #fileBox:empty:before{
            content: attr(data-placeholder);
            color:#999;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <h3>Community Write</h3>
    <form method="post" action="/board/community/write" enctype="multipart/form-data" id="writeFrm"> 
        <table>
            <tr>
                <td>category : </td>
                <td>
                    <select name="select" form="writeFrm" >
                        <option value="Classic">Classic</option>
                        <option value="Musical">Musical</option>
                        <option value="Opera">Opera</option>
                        <option value="Ballet">Ballet</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject : </td>
                <td>
                    <input type="text" name="communitySubject" id="communitySubject">
                </td>
            </tr>
            <tr>
                <td>content : </td>
                <td>
                    <textarea type="text" name="communityContent" id="communityContent"></textarea>
                </td>
            </tr>
            <tr>
                <td>file : </td>
                <td>
                    <input type="file" name="upload" id="communityFile">
                </td>
            </tr>
            <input type="hidden" name="idx" id={idx}>
        </table>
        <input type="submit" value="Submit" id="submit">
    </form>
</body>
</html>