<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community view</title>
    <script src="/script/board/communityView.js"></script>
    <link href="/css/board/boardView.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}
            <div id="label">
                <span>COMMUNITY</span>
            </div>
            <div id="categoryBox">
                <div id="category"></div>
            </div>
            <table cellspacing="0" cellpadding="0" id="viewTable">
                <tr>
                    <th>Num</th>
                    <th>Subject</th>
                    <th>Writer</th>
                    <th>Date</th>
                    <th id="eye">
                        <img src="/img/border/eye_hit.png">
                    </th>
                </tr>
                <tr id="viewHead">
                    <td id="idx"></td>
                    <td id="subject"></td>
                    <td id="writer"></td>
                    <td id="date"></td>
                    <td id="hit"></td>
                </tr>
            </table>
            <div id="viewContent">
                <div id="bContent"></div>
                <div id="img">
                    <!-- <img src="" id="src"> -->
                </div>
            </div>
            <div id="button">
                <button><a href = "/board/community/list" class="list">List</a></button>
            
                <button id="update" class="update"></button>
                
                <form method = "post" action = "/board/community/delete" id="deleteFrm">
                    <input type="hidden" name = "idx" value=`req.params`>
                    <button type="submit" value="Delete" class="delete">Delete</button>
                </form>
            </div>
            <!-- <template id="tImg">
                <div id="imgView"></div>
            </template> -->
            <!-- 댓글 구현 -->
            <details>
                <summary>Comments<span></span></summary>
                <div id="commentBox">
                    <ul>
            
                    </ul>
                </div>
            </details>
            
            <template id="commentForm">
                <li>
                    <form method="post" action="">
                        <span><input type="text" name="comment" id="hello" placeholder="comment write here!"></span>
                        <input type="submit" value="click!" class="commentSubmit">
                    </form>
                </li>
            </template>
            <template id="commentList">
                <li>
                    <ul class = "commentRow">
                        <li class="commentContent">
                            <input type="hidden" id="cidx" name="idx" value="">
                            <span class="commentDeleteBtn">X</span>
                        </li>
                        <li>
                            <span class="commentID"></span>
                            <span class="commentDate"></span>
                            <!-- <span class="commentLike"></span> -->
                        </li>
                    </ul>
                </li>
            </template>
            <template id="commentInput">
                <span>
                    <input type="text" class="cmtUp" value="">
                </span>
            </template>
    </div>
</body>
</html>