<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin/accountMgt.css" rel="stylesheet" type="text/css">  
    <script src="/script/admin/accountMgt.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}
        <div id="content">
            <div id="mainContent">
                <h1 style="font-family: 'korFontBold' !important;">회원 정보 수정</h1>

                <!-- 리스트 검색창 -->
                <div id="listSearchBox">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="line-icon" id="searchIcon">
                        <path d="M22.3 21.2l-5.7-5.7c1.2-1.5 2-3.4 2-5.5 0-4.7-3.8-8.5-8.5-8.5S1.5 5.3 1.5 10s3.8 8.5 8.5 8.5c2.1 0 4-.8 5.5-2l5.7 5.7c.1.1.3.2.5.2s.4-.1.5-.2c.4-.2.4-.7.1-1zM3 10c0-3.9 3.2-7 7-7s7 3.2 7 7-3.2 7-7 7-7-3.1-7-7z" fill="#A8BEBF"></path>
                    </svg>
                    <form method="post" action="#" id="listSearchForm">
                        <input type="text" onkeyup="enterkey()" placeholder="Search" id="listSearchInput">            
                    </form>
                </div>

                <!-- 리스트 테이블 시작 -->
                <table class="listTable">
                    <thead>
                        <tr>
                            <th>회원번호</th>
                            <th>아이디</th>
                            <th>닉네임</th>
                            <th>가입날짜</th>
                            <th>레벨</th>
                            <th>활동상태</th>
                            <th class="point off">포인트 관리</th>
                            <th>수정</th>
                        </tr>
                    </thead>
    
                    <tbody>
                    </tbody>
                </table>

                <template id="adminList_row">
                    <tr>
                        <td>{idx}</td>
                        <td>{id}</td>
                        <td>{nick}</td>
                        <td>{doj}</td>
                        <td>
                            {level}
                        </td>
                        <td>
                            {active}
                        </td>
                        <td class="off">
                            <select name="level" id="level">
                            </select>
                        </td>
                        <td class="off">
                            <select name="active" id="active">
                            </select>
                        </td>
                        <td class="off">
                            <button>포인트 관리</button>
                        </td>
                        <td>
                            <button class="edit">수정</button>
                        </td>
                        <td class="off">
                            <button class="done">완료</button>
                        </td>
                    </tr>
                </template>
               </script>
            </div>
        </div>
    </div>
</body>
</html>