<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <link href="/css/admin/categoryMgt.css" rel="stylesheet" type="text/css">  
    <script src="/script/admin/categoryMgt.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}

        <div id="content">
                <table id="modifyForm">
                    <!-- <div id="notice"> * 별표가 있는 항목은 필수 항목 입니다</div> -->
                    <tr>
                        <th>공연 분류 *</th>

                        <!-- 입력전 -->
                        <td class="beforeBox">
                            <ul class="catList">
                                <li >수정 전 </li>
                            </ul> 
                            <span class="info">확인키를 누르면 입력이 종료됩니다</span>
                        </td>

                        <td class="midBox">
                            <span>>><span> 
                        </td>

                        <!-- 입력후 -->
                        <td class="afterBox">
                            <ul class="catList">
                                <li>수정 후 : </li>
                                <li>
                                    <input type="text" class="newCat" placeholder="추가할 카테고리명을 입력하세요">
                                </li>
                            </ul>
                            <span class="info">반영하기를 눌러야 실제 사이트에 적용됩니다</span>
                            <div class="btnBox">
                                <!-- <button class="after btn fin">반영하기</button> -->
                            </div>
                        </td>
                    </tr>
                </table>

                <template class="temp">
                    <li>
                        <div class="checkbox"></div>
                        <div class="catName"></div>
                        <button class="delBtn">x</button>
                    </li>
                </template>
            </form>
        </div>
    </div>
</body>
</html>