/* 본문 오른쪽 박스  : mainContent */
#content > #mainContent{
    width: 75%;
    /*
        top 23px할지 33px할지 고민중
        수정시
        _calBoxLayer.css (line 14) padding-top:23px로 같이 수정
        같은 높이임.
    */
    padding: 23px 59px 50px 53px;
    font-family: 'engFontSemiBold';
    box-sizing: border-box;
}
#content > #mainContent > h1{
    margin-bottom: 20px;
}