/* 영어폰트 */
@font-face {
    font-family: 'basicBoldStrong';
    src: url('../../font/NotoSansKR-Black.otf') format('truetype');
}
@font-face {
    font-family: 'basicBold';
    src: url('../../font/NotoSansKR-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'basicLight';
    src: url('../../font/NotoSansKR-Light.otf') format('truetype');
}
@font-face {
    font-family: 'basicMid';
    src: url('../../font/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'basicReg';
    src: url('../../font/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'viewFont';
    src: url('../../font/NanumMyeongjo.woff') format('truetype');
    src: url('../../font/NanumMyeongjo.ttf') format('truetype');
}

/* class처럼 사용된댔는데 적용 안되는데 왜 그런지 모르겠음
.REG{ font-family:'basicReg'; }
.BOLDSTRONG{ font-family:'basicBoldStrong'; }
.BOLD{ font-family:'basicBold'; }
.LiGHT{ font-family:'basicLight'; }
.MID{ font-family:'basicReg'; }
.VIEW{ font-family:'basicReg'; }
*/

body{
    font-family:'basicReg';
}
/* 폰트끝 */
