@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 레이아웃(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */
@import url('../index/_calBoxLayer.css'); /* 본문 왼쪽 달력 박스 */
@import url('../index/_contentLayout.css'); /* 본문 오른쪽 메인박스 틀 */

/*
    현진 작성 CSS 읽는 방법!
    가로세로 -> 여백 -> 정렬순 -> 그 외 꾸밈(box-sixing, 선굵기 등)
    이 순서대로 작성하기 때문에 만약 여백이 먼저 작성되었다면 가로세로 값은 없다는 뜻이에요!
*/

/* 글을 쓸 레벨이 되지 않으면 글쓰기 버튼을 숨기는 클래스 */
.notAllow{
    display: none;
}

#wrap{
    /* overflow: hidden; */
    margin: 0 auto;
    position: relative;
}

/* 헤더 #header */

/* 본문 #content */
/* 본문 왼쪽 달력 박스  : #content > #calContent */
/* 본문 오른쪽 박스  : #content > #mainContent */

/* 목록 전환 버튼 리스트 or 앨범형 or 달력형 */
#mainContent > #listEventBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* 목록 전환 버튼 이미지 */
#mainContent > #listEventBox > #mainContentTitleIcon > button > img{
    width: 20px;
    height: 20px;
}
/* 버튼 공통 속성 */
.miniBtn{
    width: 22px;
    height: 22px;
    border: 1px solid #080C31;
    border-radius: 3px;
    box-sizing: border-box;
}

/* 무엇이든 물어보세요 검색창 */
#content > #mainContent > #listSearchBox{
    width: 100%;
    height: 57px;
    margin: 60px 0px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #A8BEBF;
}
/* 돋보기 아이콘 */
#content > #mainContent > #listSearchBox > .line-icon{
    width: 28px;
    height: 28px;
}
/* 검색 입력창 */
#mainContent > #listSearchBox > #listSearchForm > #listSearchInput{
    height: 100%;
    width:200%;
    margin-left: 16px;
    padding: 0px 10px 0px 0px;
    box-sizing: border-box;
    font-size: 33px;
    color: #465D59;
}
#mainContent > #listSearchBox > #listSearchForm > #listSearchInput::placeholder{
    color: #A8BEBF;
    font-family: 'basicMid';
}

/* 리스트 테이블 높이지정하기 (footer) */
.showListHeight{
    height: 68%;
}
/* 리스트 테이블 */
#mainContent > .showListHeight > .listTable{
    width: 100%;
    margin-top: 20px;
    /* 테두리 선이 끊기지 않게 연결해주는 코드 */
    border-collapse: collapse;
}
/* 제목 줄 */
tr:first-child{
    height: 40px;
}
th{
    height: 40px;
    border-top: 1.5px solid #465D59;
    border-bottom: 1.5px solid #465D59;
    color: #465D59;
}

/* 컨텐츠 줄 */
tr{
    height: 50px;
    font-family: 'basicLight';
    border-bottom: 1px solid #A8BEBF;
}
td{
    padding:16px;
}
td:not(:nth-child(3)){
    text-align: center;
}
td:nth-child(3){
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
}
a{
    color: #080C31;;
    font-weight: 600;
}
#writeBtn {
    display: flex;
    justify-content: flex-end;
    margin: 15px 3px 40px 0px;
    height: 40px;
}

#writeBtn > a{
    width: 13%;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background: #465D59;
    box-sizing: border-box;
}
#footer{
    margin-top: 40px;
    width: 328px;
    margin-top: 20px;
    /* background: brown; */
    margin-left: 30px;
    font-size: 15px;
    border-right: 1px solid #A8BEBF;
    opacity: 50%;
    bottom:-50px;
}