@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 레이아웃(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */
@import url('../index/_calBoxLayer.css'); /* 본문 왼쪽 달력 박스 */
@import url('../index/_contentLayout.css'); /* 본문 오른쪽 메인박스 틀 */

/*
    현진 작성 CSS 읽는 방법!
    가로세로 -> 여백 -> 정렬순 -> 그 외 꾸밈(box-sixing, 선굵기 등)
    이 순서대로 작성하기 때문에 만약 여백이 먼저 작성되었다면 가로세로 값은 없다는 뜻이에요!
*/

/* 글을 쓸 레벨이 되지 않으면 글쓰기 버튼을 숨기는 클래스 */
.notAllow{
    display: none;
}

#wrap{
    /* overflow: hidden; */
    margin: 0 auto;
}

/* 헤더 #header */

/* 본문 #content */
/* 본문 왼쪽 달력 박스  : #content > #calContent */
/* 본문 오른쪽 박스  : #content > #mainContent */

/* 카드 컨텐츠 타이틀 */
#content > #mainContent > #mainContentTitle{
    width: 100%;
    height: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}
/* 카드 컨텐츠 연월 표시 span */
#content > #mainContent > #mainContentTitle > #mainContentTitleMonth > span{
    margin-right: 15px;
    width: 130px;
    vertical-align: bottom;
    font-size: 28px;
    /*글자 내부적인 여백때문에 혼자 들뜸
    그걸 없애주기 위해 line-height사용*/
    line-height: 60%; 
}

/* 목록 전환 버튼 리스트 or 앨범형 or 달력형 */
#content > #mainContent > #mainContentTitle > #mainContentTitleIcon {
    display: flex;
}

.miniBtn {
    width: 25px;
    height: 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #080C31;
    box-sizing: border-box;
}
.miniBtnL {
    width: 25px;
    height: 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #080C31;
    box-sizing: border-box;
}
.miniBtnR {
    width: 25px;
    height: 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #080C31;
    box-sizing: border-box;
}

.miniBtn > img{
    width: 22px;
    height: 22px;
}
.miniBtnL > img{
    width: 22px;
    height: 22px;
}
.miniBtnR > img{
    width: 22px;
    height: 22px;
}

/* 여기까지 showCard와 동일
타이틀 h1의 margin-bottom만 다름. (line 28)*/

#mainContent > #scrollBox{
    height: 320px;
    margin-bottom: 20px;
    overflow: auto;
}
#mainContent > #scrollBox > ul{
    white-space: nowrap;
    width: 2000px;
    height: 100%;
    display: flex;
}
#mainContent > #scrollBox > ul > li{
    /* background: #465D59; */
    width: 260px;
    height: 100%;
    margin-right: 15px;
}
#mainContent > #scrollBox > ul > li > .imgBox{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#mainContent > .infoCard{
    height: 200px;
    display: flex;
    position: relative;
}

#info{
    width: 100%;
    height: 100%;
    padding:20px 30px;
    box-sizing: border-box;
    font-size: 20px;
    /* white-space: nowrap; */
    overflow: auto;
    border: 1px solid #A8BEBF;
    border-radius: 13px;
}
#bookBtn{
    width:50px;
    height: 30px;
    margin: 0 20px 20px 0px;
    right:0;
    bottom:0;
    float: right;
    border: 1px solid #080C31;
    position: absolute;
}

.park{
    background-image: url('../../img/poster/park.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.end{
    background-image: url('../../img/poster/end.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.moment{
    background-image: url('../../img/poster/moment.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.laboem{
    background-image: url('../../img/poster/laboem.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.lionkiing{
    background-image: url('../../img/poster/lionking.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.donkey{
    background-image: url('../../img/poster/ballet.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.devil{
    background-image: url('../../img/poster/devil.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.default{
    background-image: url('../../img/poster/classic.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
