/* main_nav style sheet */
*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none;}
input:focus{outline: none;}
input{border: none; background: none;}
button{border:none; background: none;}
/* 영어폰트 */
@font-face {
    font-family: 'basicBoldStrong';
    src: url('../srcs/NotoSansKR-Black.otf') format('truetype');
}
@font-face {
    font-family: 'basicBold';
    src: url('../srcs/NotoSansKR-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'basicLight';
    src: url('../srcs/NotoSansKR-Light.otf') format('truetype');
}
@font-face {
    font-family: 'basicMid';
    src: url('../srcs/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'basicReg';
    src: url('../srcs/NotoSansKR-Regular.otf') format('truetype');
}
/*
view에서 사용할 폰트
<span style="font-family: '글꼴명' !important;">텍스트</span>
이렇게 선언해줄것
*/
@font-face {
    font-family: 'viewFont';
    src: url('../font/NanumMyeongjo.ttf') format('truetype');
}


body{
    font-family:'basicReg'
}

/* 헤더시작 */
#header{
    width:100vw;
    height: 55px;
    box-sizing: border-box;
    /* background: green   ; */
}

#header > #nav{
    margin-top:51px;
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 22px;
    /* 사이즈 em으로 바꾸기 */
}

/*
로고가 들어가는 위치
이 width만큼 캘린더에서 바로 아래에 달력박스가 생김.
*/
#nav > #logoBox {
    width:25%;
    height: 100%;
    padding-left: 85px;
    box-sizing: border-box;
}
#nav > #logoBox > h1{
    font-family: 'engFontBold';
    font-size: 26px;
}

/* 메인메뉴바 시작 */
#nav > ul#mainMenu {
    position: relative;
    width:75%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#nav > ul#mainMenu > li {
    text-align: center;
    width:20%;
}
#nav > ul#mainMenu > li:nth-child(1) {
    padding:10px 20px;
}
#nav > ul#mainMenu > li:nth-child(6) {
    padding:10px 20px;
}
#nav > ul#mainMenu > li:last-child {
    margin-right: 50px;
    margin-left:20px;
    padding-top: 10px;
}
#nav > ul#mainMenu > li > a{
    /* 자동 줄넘김 막는 코드 */
    white-space:nowrap;
    position: relative;
}


/* 소메뉴 시작 */
input[id*="check"]{
    display: none;
}
input[id*="check"]+label{
    display: block;
    padding:10px 40px;
    cursor: pointer;
    white-space:nowrap;
}

input[id*="check"]+label+ul{
    display: none;
}

/* 클릭시 일어나는 이벤트 */
input[id*="check"]:checked+label+ul{
    display: block;
}

input[id*="check"]:checked+label{
    display: block;
    padding:10px 40px;
    background: #080C31;
    cursor: pointer;
    white-space:nowrap;
    color: #fff;
}

input[id*="check"]:checked+label+ul>li:first-child{
    padding-top:7px;
}
input[id*="check"]:checked+label+ul>li{
    padding:10px;
    background: #080C31;
    border-radius: 8px;
}
input[id*="check"]:checked+label+ul>li>a{
    color: #fff;
    white-space:nowrap;
}


/* 메인 검색창 */
#mainSearch{
        width: 140px;
        height: 60px;
        box-sizing: border-box;
        /*검색입력창과 검색아이콘을 한 줄에 꽉채우려고 넣은 flex*/
        display: flex;
}
#mainSearch > #searchInput{
    height: 23px;
    border-bottom: 1.2px solid #000;
    margin-right: 2px;
}
#mainSearch > #searchIcon{
    width: 22px;
    height: 22px;
}


/* 본문 */
#content{
    display: flex;
    height: 998px;
}

#content > #calContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding:33px;
    border-right:1px solid #E3E7EA;
}
#content > #calContent > title{
    margin-bottom: 27px;
}

#content > #calContent > #calSmall{
    width: 365px;
    height: 332px;
    border-radius: 25px;
    box-shadow: 0px 25px 37px #F2F2F2;
    margin-bottom: 42px;
}

#content > #calContent > #monthly{
    width: 366px;
    height: 500px;
    padding:0px 20px;
    box-sizing: border-box;
}
#content > #calContent > #monthly > #monthlyTitle{
    font-family: 'engFontSemiBold';
    font-size:30px;
    margin-bottom: 12px;
}
#content > #calContent > #monthly > #monthTitleSmall{
    font-family: 'engFontSemiBold';
    font-size:20px;
    color: #A5A5A5;
    margin-bottom: 12px;
}



#content > #calContent > #monthly > #menuSmall{
    width:100%;
}



#content > #mainContent{
    width: 75%;
    padding: 33px 60px 50px 60px;
    font-family: 'engFontSemiBold';
    box-sizing: border-box;
}

/* 무엇이든 물어보세요 검색창 */
#listSearchBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #A8BEBF;
    box-sizing: border-box;
    margin: 60px 0px;
}

/* 돋보기 아이콘 */
.line-icon{
    width: 28px;
    height: 28px;
}

#listSearchForm > #listSearchInput{
    margin-left: 16px;
    font-size: 33px;
    padding: 0px 10px 0px 0px;
    height: 100%;
    width:230%;
    box-sizing: border-box;
    color: #465D59;
}

#listSearchForm > #listSearchInput::placeholder{
    color: #A8BEBF;
    font-family: 'basicMid';
    /* background: #465D59; */
}

/* 리스트 테이블 */
.listTable{
    margin-top: 20px;
    width: 100%;
    /* height: 65%; */
}
tr{
    height: 50px;
}
tr:first-child{
    border-top: 1px solid #465D59;
    height: 50px;
}

th{
    color: #465D59;
}

td:not(:nth-child(3)){
    text-align: center;
}

td:nth-child(3){
    box-sizing: border-box;
    padding-left: 20px;
}
