@import url('../index/_settingLayout.css'); /* html 기본 세팅 */
@import url('../index/_fontLayout.css'); /* 폰트 import */
@import url('../index/_headerLayout.css'); /* 헤더 세팅(nav 포함) */
@import url('../index/_mainContentLayout.css'); /* 본문 레이아웃 */

/*
    현진 작성 CSS 읽는 방법!
    가로세로 -> 여백 -> 정렬순 -> 그 외 꾸밈(box-sixing, 선굵기 등)
    이 순서대로 작성하기 때문에 만약 여백이 먼저 작성되었다면 가로세로 값은 없다는 뜻이에요!
*/

:root {
    --vh: 100%;
}
body {
    height: 100vh;
    height: var(--vh);
    overflow: hidden;
}

.wrap{
    overflow: hidden;
    margin: 0 auto;
}

/* view background */
.wrap::before{
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    position: absolute;
    content: "";
    opacity: 0.9;
    
}
/* 헤더 */

/* 본문 */
#content > .contentBox{
    min-height: 200px;
    width: 100%;
    height: 100%;
    padding: 0 200px; /* 15% */
    position: relative;
    box-sizing: border-box;
}
#leftBtn{
    position: absolute;
    width:15%;
    height: 100%;
    z-index: 10;
}
#leftBtn:hover{
    display: block;
    position: absolute;
    left: 0px;
    width:15%;
    height: 100%;
    opacity: 40%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    bottom:30px;
    z-index: 10;
    background-image: url("../../img/icon/arrow_left_2x_w.png");
}
#rightBtn{
    position: absolute;
    right:0px;
    width:15%;
    height: 100%;
}
#rightBtn:hover{
    display: block;
    position: absolute;
    right: 0px;
    width:15%;
    bottom:30px;
    height: 100%;
    opacity: 40%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    z-index: 10;
    background-image: url("../../img/icon/arrow_right_2x_w.png");
}
/* 테두리 박스 */
#content > .contentBox > .summaryBox{
    width: 100%;
    height: 100%;
    padding:  6% 3% 11% 3%;
    display: flex;
    box-sizing: border-box;
}
/* 테두리 내용 : 이미지 박스 */
#content > .contentBox > .summaryBox > .summaryImg{
    width: 50%;
    height: 100%;
}
#content > .contentBox > .summaryBox > .summaryImg > .img{
    width: 75%;
    height: 100%;
    border-radius: 20px;
}
.first{
    background-image: url("../../img/poster/park.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.sec{
    background-image: url("../../img/poster/devil.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.thrd{
    background-image: url("../../img/poster/end.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.four{
    background-image: url("../../img/poster/moment.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

/* 테두리 내용 : 텍스트 */
#content > .contentBox > .summaryBox > .summaryTextBox{
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}
#content > .contentBox > .summaryBox > .summaryTextBox > .summaryText {
    width: 100%;
    height: 100%;
    padding: 45px 6% 30px 6%;
    font-size: 1.2rem;
    /* font-family: 'viewFont'; */
    line-height: 180%;
    color: #C2C2C2;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: auto;
}
.goViewList{
    position:absolute;
    bottom:0px;
    right: 200px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.goViewLink{
    position:absolute;
    bottom:0px;
    right: 30px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.modifyBtn{
    position:absolute;
    bottom:10px;
    right: 260px;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.deleteBtn{
    position:absolute;
    bottom: 10px;
    right: 400px;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.VIEW{
    display: block;
}
.HIDDEN{
    display: none;
}


#modifyForm > tbody{
    box-sizing: border-box;
}

tr{
    height: 100%;
    box-sizing: border-box;
}

th{
    text-align: left;
    padding-left: 30px;
    width: 33%;
    box-sizing: border-box;
}

td{
    padding-left: 40px;
    height: 100%;
    box-sizing: border-box;
}

#category, #xrated, #title,#place, #showCast1, #showCast2, #showDirector, #showCompany {
    height: 100%;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: none;
}

#ticketDate, #ticketHour, #showDate, #showHour{
    margin-left: 30px;
    margin-right: 5px;
}