<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/script/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        video{
            position: absolute;
            top:0px;
            left:0px;
            width: 100vw;
            z-index: -1000;
            overflow: hidden;
            opacity: 0.7;
        }
    </style>
</head>

<body>
    <div id="wrap" class = "backGround">
        <header id="header">
            <div id="nav">
                <h1 id="logoBox">
                    <a href="/">
                        H3
                    </a>
                </h1>
                <ul>
                    <li><a id="signin" href="/account/member/signin">SIGN IN</a></li>
                    <li><a href="/show/program/showcard">SHOW</a></li>
                    <li><a id ="contact" href="/about/list">CONTACT</a></li>
                </ul>
            </div>
        </header>
        <video muted autoplay loop>
            <source src="../mp4/main.mp4" type="video/mp4">
        </video>
        <main id="content"></main>
        <!-- <div id="chatB">
            <button id="chatBtn" onclick="window.open('/chat','chat','width=430,height=500,location=no,status=no,scrollbars=yes');">
                <img src = "../img/icon/icon_chat.png">
            </button>
        </div> -->
    </div>
</body>

</html>

