<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        홈에 들어가야할 목록
        로그인 버튼 -> 로그인/회원가입 팝업?페이지?이동
        show 버튼 -> 대메뉴들이 떠있는 페이지로 이동
        채팅 아이콘 -> 팝업창으로 채팅 구현
     -->
     <ul>
        <!--임시 로그인/회원가입버튼-->
         <li>로그인/회원가입기능</li>
         <li>
             <a href="/show/program">show</a>
         </li>
         <li>채팅 팝업창 아이콘 구현</li>
     </ul>
</body>
</html>