<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/index.css" rel="stylesheet" type ="text/css">
    
</head>

<body>
    <div id="wrap" class = "wh100">
        <header id="header">
            <h1 id="logo">logo</h1>
            <ul>
                <li><a id = "signin" href="/account/member/signin" target="_blank">signIn</a></li>
                <li>contact</li>
            </ul>
        </header>
        <div main="body"></div>
    </div>
</body>

</html>

