<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show/bookInfo.css" type="text/css">
    <script src="/script/book/bookinfo.js"></script>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <title>Ticket Booking</title>
</head>
<body>
    <div id="wrap">

        <header>
            <ul class="step">
                <li>예매</li>
                <li>결제</li>
                <li>완료</li>
            </ul>
        </header>
        <body>
            <!-- 연극은 이미 선택이 되어있는 상태 -->
            <div>
            <!-- 공연정보 -->
            <div>이미지</div>
            <div>
                <ul class="showInfo">
                    <li>박열(공연정보)</li>
                    <li>청소년관람가(관람연령)</li>
                    <li>장소</li>
                    <li>공연기간</li>
                </ul>
            </div>
            </div>
            <div>
                <!-- 공연날짜 선택-->
                <span class="showMonth">{year-month}</span>
                <div class="showCal"></div>
            </div>
            <div>
                <!-- 공연시간(회차)선택-->
                <ul class="showTime">
                    <li>10:00</li>
                    <li>13:00</li>
                    <li>18:00</li>
                </ul>
            </div>
            <div>
                <!-- 좌석 -->
                <ul class="showSeat"></ul>
            </div>
            <div>
                <!-- 선택한 정보 몰아보는 페이지 -->
                <ul class="finalShowInfo">
                    <li>타이틀</li>
                    <li>예매시간</li>
                    <li>예매좌석</li>
                    <li>예매가격</li>
                    <li>공연장소</li>
                    <li>알림사항</li>
                </ul>
            </div>
            <button>결제하기</button>
        </body>
        <footer>
            <!-- 문의글, 전화번호, 그외정보 -->
        </footer>
    </div>
</body>
</html>