<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News List</title>
    <script src="/script/board/newsList.js"></script>
    <link href="/css/board/boardList.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}
        <div id="label">
            <span>NEWS</span>
        </div>        
                <table cellspacing="0" cellpadding="0" id="communityBoard">
                    <thead>
                        <tr>
                            <th id = "newsNum">Num</th>
                            <th id = "newsSub">Subject</th>
                            <th id = "newsWrite">Writer</th>
                            <th id = "newsDate">Date</th>
                            <th id="eye">
                                <img src="/img/border/eye_hit.png">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="communityListRow">
                        
                        </tr>
                    </tbody>
                </table>
                <div id="box">
                    <button type="button" id="bBtn"><a href="write" >write</a></button>
                </div>
                <div id="pagingDiv">
                    <ul id="paging">
                
                    </ul>
                </div>
                <template id="communityBoardRow">
                    <tr>
                        <td>{idx}</td>
                        <td id="td1"></td>
                        <td>{nickname}</td>
                        <td>{date}</td>
                        <td>{hit}</td>
                    </tr>
                </template>
          </div>
    </div>
</body>
</html>