<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show View</title>
    <link rel="stylesheet" href="/css/show/showView.css">
    <script src="/script/show/showView.js"></script>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <!-- nav 시작 -->
            <div id="nav">
                <!-- Logo -->
                <div id="logoBox">
                    <h1>Team6</h1>
                </div>
                <!-- 메인 메뉴 -->
                <ul id="mainMenu">
                    <li id="home">
                        <input type="radio" name="menuCheck" id="check01">
                        <label for="check01">HOME</label>
                    </li>
                    <li id="show">
                        <!-- click 이벤트를 만들어주는 체크박스 -->
                        <input type="radio" name="menuCheck" id="check02">
                        <label for="check02">SHOW</label>
                        <!-- show 서브메뉴 시작 -->
                        <ul class="subMenu">
                            <li><a href="/show/program/list">Show List</a></li>
                            <li><a href="javascript">Ticket Open Date</a></li>
                        </ul>
                        <!-- show 서브메뉴 끝 -->
                    </li>
                    <li id="board">
                        <input type="radio" name="menuCheck" id="check03">
                        <label for="check03">BOARD</label>
                        <!-- board 서브메뉴 시작 -->
                        <ul class="subMenu">
                            <li><a href="/board/review/list">Review</a></li>
                            <li><a href="/board/community/list">Community</a></li>
                            <li><a href="/board/news/list">News</a></li>
                        </ul>
                        <!-- board 서브메뉴 끝 -->
                    </li>
                    <li id="my page">
                        <input type="radio" name="menuCheck" id="check04">
                        <label for="check04">MY PAGE</label>
                        <!-- my page 서브메뉴 시작 -->
                        <ul class="subMenu">
                            <li><a href="/account/management/myCalendar">My Calendar</a></li>
                            <li><a href="/account/management/myInfo">My Profile</a></li>
                            <li><a href="/account/management/myTicket">My Ticket</a></li>
                            <li><a href="/account/management/myPick">My Pick</a></li>
                            <li><a href="/account/management/myPoint">My Point</a></li>
                        </ul>
                        <!-- my page 서브메뉴 끝 -->
                    </li>
                    <li id="admin">
                        <input type="radio" name="menuCheck" id="check05">
                        <label for="check05">ADMIN</label>
                        <!-- admin 서브메뉴 시작 -->
                        <ul class="subMenu">
                            <li><a href="javascript">공연관리</a></li>
                            <li><a href="javascript">회원관리</a></li>
                            <li><a href="javascript">포인트관리</a></li>
                            <li><a href="javascript">보드관리</a></li>
                            <li><a href="javascript">통계</a></li>
                        </ul>
                        <!-- admin 서브메뉴 끝 -->
                    </li>
                    <li id="about">
                        <input type="radio" name="menuCheck" id="check06">
                        <label for="check06">ABOUT</label>
                    </li>
                    <li>
                        <span id="mainSearch">
                            <input type="text" name="searchInput" id="searchInput">
                            <img src="/img/icon/icon_search_2x.png" name="searchIcon" id="searchIcon">
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content">
            <table id="modifyForm">
                <tr>
                    <!-- 1 -->
                    <th class="title">공연 분류</th>
                    <td><span class = "viewContent">{show_category}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <!-- 2 -->
                    <th class="title">관람 등급</th>
                    <td><span class = "viewContent">{show_xrated}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <!-- 3 -->
                    <th class="title">공연 제목</th>
                    <td><span class = "viewContent">{show_title}</span></td>
                </tr>
                <tr>
                    <!-- 4 -->
                    <th>예매일*</th>
                    <td>
                        <span class = "viewContent">
                    </td>
                </tr>
                <tr>
                    <!-- 5 -->
                    <th class="title">공연일</th>
                    <td>
                        <span class = "viewContent">
                    </td>
                </tr>
                <tr>
                    <!-- 6 -->
                    <th class="title">공연 장소</th>
                    <td><span class = "viewContent">{show_place}</span></td>
                </tr>
                <tr>
                    <!-- 7 -->
                    <th class="title">공연 출연진</th>
                    <td><span class = "viewContent"></span></td>
                </tr>
                <tr>
                    <!-- 8 -->
                    <th class="title">보조출연진</th>
                    <td><span class = "viewContent"></span></td>
                </tr>
                <tr>
                    <!-- 9 -->
                    <th class="title">공연 감독</th>
                    <td><span class = "viewContent">{show_director}</span></td>
                </tr>
                <tr>
                    <!-- 10 -->
                    <th class="title">공연 주최측</th>
                    <td><span class = "viewContent">{show_company}</span></td>
                </tr>
                <tr>
                    <!-- 11 -->
                    <th>소개글</th>
                    <td><span class = "viewContent">{show_content}</span></td>
                </tr>
                <tr>
                    <!-- 12 -->
                    <th>첨부파일</th>
                    <td>
                        <input type="file" name="upload" id="upload">
                    </td>
                </tr>
            </table>

            <div id="btnBox">
                <button id="leftBtn"><</button>  
                <button id="rightBtn">></button>  
                <button id="modifyBtn">수정</button>  
                <button id="deleteBtn">삭제</button>  
                <button id="goList">목록가기</button>
            </div>
        </div>
    </div>
</body>
</html>