<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Card</title>
    <link rel="stylesheet" href="/css/show/showCard.css">
    <script src="/script/show/_calBoxLayer.js"></script>
    <script src="/script/show/showCard.js"></script>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body>
    <div id="wrap">
        <div class="backImage">
            {% include "nav.html" %}
            <!-- 본문 -->
            <div id="content">
                <!-- 본문 왼쪽 달력 박스 -->
                <div id="calContent">
                    <h1 class="title" style="font-family: 'korFontBold' !important;">이달의 공연 목록</h1>
                    
                    <!-- 소형 캘린더 -->
                    <div id="calSmall">
                        <div class="cal_box_small">
                            <div class="cal_nav_small">
                                <div class="year-month_small"></div>
                                <div class="btnBoxSmall">
                                    <a href="javascript:;" class="btnLeft_small"></a>
                                    <a href="javascript:;" class="btnRight_small"></a>
                                </div>
                            </div>
           
                            <div class="cal_day_small">
                                <div class="days_small">
                                    <div class="day_small sun">SUN</div>
                                    <div class="day_small">MON</div>
                                    <div class="day_small">TUE</div>
                                    <div class="day_small">WED</div>
                                    <div class="day_small">THU</div>
                                    <div class="day_small">FRI</div>
                                    <div class="day_small sat">SAT</div>
                                </div>
                                <ul class="dates_small"></ul>
                            </div>
                        </div>
                               
                        <template class="cal_temp_small">
                            <li>
                                <button class="date_small"></button>
                                <div class="dot_small">
                                    <span class="dotAdmin_small"></span>
                                    <span class="dotCustomer_small"></span>
                                </div>
                                </li>
                        </template>    
                    </div>
           
                    <!-- 위클리 카드 -->
                    <div id="monthly">
                        <div id="monthlyTitle">Monthly</div>
                        <div id="monthTitleSmall">MAR</div>
                        <div id="menuSmall">
                            <!-- 이 안에 작성 -->
                        </div>
                            
                        <template class="monthlyTemp">
                            <div class="monthlyCard">
                                <div class="pic"></div>
                                <div class="news">
                                    <span>뮤지컬 : BROADWAY (브로드웨이)</span>
                                    <span>예매 시작일 : 3월 28일</span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                

                <div id="mainContent">
                    <!-- 카드 컨텐츠 -->
                    <h1 style="font-family: 'korFontBold' !important;">카드뉴스</h1>
                    <div id="mainContentTitle">
                        <!-- 카드 컨텐츠 타이틀 -->
                        <div id="mainContentTitleMonth">
                            <span class="year-month"></span>
                            <button class="miniBtnL">
                                <img src="/img/icon/icon_next_2x.png" style="transform: rotate(180deg);" id="prev_arrow">
                            </button>
                            <button class="miniBtnR">
                                <img src="/img/icon/icon_next_2x.png" id="next_arrow">
                            </button>
                        </div>
                        <!-- 보기 형태 선택 아이콘 : 리스트 or 앨범 or 캘린더 버튼 -->
                        <div id="mainContentTitleIcon">
                            <button class="miniBtn" id="listBtn">
                                <img src="/img/icon/icon_list_2x.png" id="list">
                            </button>
                            <button class="miniBtn" id="listGrid">
                                <img src="/img/icon/icon_grid_2x.png" id="grid">
                            </button>
                            <button class="miniBtn" id="listCalendar">
                                <img src="/img/icon/icon_cal_2x.png" id="calBtn">
                            </button>
                        </div>
                    </div>

                    <!-- 카드 컨텐츠 박스 -->
                    <div id="scrollBox">
                        <ul class="ulCard">
                        </ul>
                    </div>

                    <!-- 개별 카드 -->
                    <template class="bigCard">
                        <li>
                            <div class="textBox">
                                <span class="cardTag"></span>
                                <span class="cardTitle"></span>
                            </div>
                            <div class="imgBox"></div>
                        </li>
                    </template>

                    <!-- 카드 부가설명 박스 -->
                    <div class="infoCard">
                        <div id="info">
                        </div>
                        <button id="bookBtn"><a href="/book/book/book_1">예매하기</button>
                    </div>
                    <!-- {% include "footer.html" %} -->
                </div>
            </div>
        </div>
    </div>

    <div>{{result.subject}}</div>
    <img src="{{result.filePath}}" alt="" style="width:100px; height:100px;">
</body>
</html>