<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show View</title>
    <link rel="stylesheet" href="/css/show/showView.css">
    <script src="/script/show/showView.js"></script>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <div class="wrap first">
    {% include "nav.html" %}
        <div id="content">
            <span id="leftBtn"><</span>
            <div class="contentBox">
                <div class="summaryBox">
                    <div class="summaryImg">
                        <div class="img first"></div>
                    </div>
                    <div class="summaryTextBox">
                        <div class="summaryText front HIDDEN">
                            <p>1923년, 관동대지진으로 붕괴된 도쿄에 괴소문이 퍼진다.</p>
                            <p>"조선인이 지진을 틈타 폭동을 일으키고 있다!"</p>
                            <br>
                            <p>그로인해 조선인 6천명이 학살되자 도쿄재판소 검사국장 류지에게 특명이 떨어진다.</p>
                            <p>"조선인 대학살 사건을 덮을 사건을 찾아라!"</p>
                            <br>
                            <p>그 계략에 들어온 건, 조선인 아나키스트 박열과 그의 일본인 아내 가네코 후미코.</p>
                            <p>류지가 박열의 폭탄 계획을 과장하려 들자 계략을 눈치챈 두 사람은 황태자 저격 의도를 자백하며 대역죄인을 자처한다.
                            <br>
                            </p>
                        </div>
                        <div class="summaryText back VIEW">
                            <table id="modifyForm">
                                <tr>
                                    <!-- 1 -->
                                    <th class="title">공연 분류</th>
                                    <td><span class = "viewContent">{show_category}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 2 -->
                                    <th class="title">관람 등급</th>
                                    <td><span class = "viewContent">{show_xrated}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 3 -->
                                    <th class="title">공연 제목</th>
                                    <td><span class = "viewContent">{show_title}</span></td>
                                </tr>
                                <tr>
                                    <!-- 4 -->
                                    <th>예매일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 5 -->
                                    <th class="title">공연일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 6 -->
                                    <th class="title">공연 장소</th>
                                    <td><span class = "viewContent">{show_place}</span></td>
                                </tr>
                                <tr>
                                    <!-- 7 -->
                                    <th class="title">공연 출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 8 -->
                                    <th class="title">보조출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 9 -->
                                    <th class="title">공연 감독</th>
                                    <td><span class = "viewContent">{show_director}</span></td>
                                </tr>
                                <tr>
                                    <!-- 10 -->
                                    <th class="title">공연 주최측</th>
                                    <td><span class = "viewContent">{show_company}</span></td>
                                </tr>
                            </table>
                            </p>
                        </div>
                        <div class="summaryText front HIDDEN">
                            <p>1923년, 관동대지진으로 붕괴된 도쿄에 괴소문이 퍼진다.</p>
                            <p>"조선인이 지진을 틈타 폭동을 일으키고 있다!"</p>
                            <br>
                            <p>그로인해 조선인 6천명이 학살되자 도쿄재판소 검사국장 류지에게 특명이 떨어진다.</p>
                            <p>"조선인 대학살 사건을 덮을 사건을 찾아라!"</p>
                            <br>
                            <p>그 계략에 들어온 건, 조선인 아나키스트 박열과 그의 일본인 아내 가네코 후미코.</p>
                            <p>류지가 박열의 폭탄 계획을 과장하려 들자 계략을 눈치챈 두 사람은 황태자 저격 의도를 자백하며 대역죄인을 자처한다.
                            <br>
                            </p>
                        </div>
                        <div class="summaryText back HIDDEN">
                            <table id="modifyForm">
                                <tr>
                                    <!-- 1 -->
                                    <th class="title">공연 분류</th>
                                    <td><span class = "viewContent">{show_category}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 2 -->
                                    <th class="title">관람 등급</th>
                                    <td><span class = "viewContent">{show_xrated}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 3 -->
                                    <th class="title">공연 제목</th>
                                    <td><span class = "viewContent">{show_title}</span></td>
                                </tr>
                                <tr>
                                    <!-- 4 -->
                                    <th>예매일*</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 5 -->
                                    <th class="title">공연일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 6 -->
                                    <th class="title">공연 장소</th>
                                    <td><span class = "viewContent">{show_place}</span></td>
                                </tr>
                                <tr>
                                    <!-- 7 -->
                                    <th class="title">공연 출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 8 -->
                                    <th class="title">보조출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 9 -->
                                    <th class="title">공연 감독</th>
                                    <td><span class = "viewContent">{show_director}</span></td>
                                </tr>
                                <tr>
                                    <!-- 10 -->
                                    <th class="title">공연 주최측</th>
                                    <td><span class = "viewContent">{show_company}</span></td>
                                </tr>
                            </table>
                            </p>
                        </div>
                        <div class="summaryText front HIDDEN">
                            <p>1923년, 관동대지진으로 붕괴된 도쿄에 괴소문이 퍼진다.</p>
                            <p>"조선인이 지진을 틈타 폭동을 일으키고 있다!"</p>
                            <br>
                            <p>그로인해 조선인 6천명이 학살되자 도쿄재판소 검사국장 류지에게 특명이 떨어진다.</p>
                            <p>"조선인 대학살 사건을 덮을 사건을 찾아라!"</p>
                            <br>
                            <p>그 계략에 들어온 건, 조선인 아나키스트 박열과 그의 일본인 아내 가네코 후미코.</p>
                            <p>류지가 박열의 폭탄 계획을 과장하려 들자 계략을 눈치챈 두 사람은 황태자 저격 의도를 자백하며 대역죄인을 자처한다.
                            <br>
                            
                            </p>
                        </div>
                        <div class="summaryText back HIDDEN">
                            <table id="modifyForm">
                                <tr>
                                    <!-- 1 -->
                                    <th class="title">공연 분류</th>
                                    <td><span class = "viewContent">{show_category}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 2 -->
                                    <th class="title">관람 등급</th>
                                    <td><span class = "viewContent">{show_xrated}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 3 -->
                                    <th class="title">공연 제목</th>
                                    <td><span class = "viewContent">{show_title}</span></td>
                                </tr>
                                <tr>
                                    <!-- 4 -->
                                    <th>예매일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 5 -->
                                    <th class="title">공연일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 6 -->
                                    <th class="title">공연 장소</th>
                                    <td><span class = "viewContent">{show_place}</span></td>
                                </tr>
                                <tr>
                                    <!-- 7 -->
                                    <th class="title">공연 출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 8 -->
                                    <th class="title">보조출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 9 -->
                                    <th class="title">공연 감독</th>
                                    <td><span class = "viewContent">{show_director}</span></td>
                                </tr>
                                <tr>
                                    <!-- 10 -->
                                    <th class="title">공연 주최측</th>
                                    <td><span class = "viewContent">{show_company}</span></td>
                                </tr>
                            </table>
                            </p>
                        </div>
                        <div class="summaryText front HIDDEN">
                            <p>1923년, 관동대지진으로 붕괴된 도쿄에 괴소문이 퍼진다.</p>
                            <p>"조선인이 지진을 틈타 폭동을 일으키고 있다!"</p>
                            <br>
                            <p>그로인해 조선인 6천명이 학살되자 도쿄재판소 검사국장 류지에게 특명이 떨어진다.</p>
                            <p>"조선인 대학살 사건을 덮을 사건을 찾아라!"</p>
                            <br>
                            <p>그 계략에 들어온 건, 조선인 아나키스트 박열과 그의 일본인 아내 가네코 후미코.</p>
                            <p>류지가 박열의 폭탄 계획을 과장하려 들자 계략을 눈치챈 두 사람은 황태자 저격 의도를 자백하며 대역죄인을 자처한다.
                            <br>
                            </p>
                        </div>
                        <div class="summaryText back HIDDEN">
                            <table id="modifyForm">
                                <tr>
                                    <!-- 1 -->
                                    <th class="title">공연 분류</th>
                                    <td><span class = "viewContent">{show_category}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 2 -->
                                    <th class="title">관람 등급</th>
                                    <td><span class = "viewContent">{show_xrated}</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- 3 -->
                                    <th class="title">공연 제목</th>
                                    <td><span class = "viewContent">{show_title}</span></td>
                                </tr>
                                <tr>
                                    <!-- 4 -->
                                    <th>예매일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 5 -->
                                    <th class="title">공연일</th>
                                    <td>
                                        <span class = "viewContent">
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 6 -->
                                    <th class="title">공연 장소</th>
                                    <td><span class = "viewContent">{show_place}</span></td>
                                </tr>
                                <tr>
                                    <!-- 7 -->
                                    <th class="title">공연 출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 8 -->
                                    <th class="title">보조출연진</th>
                                    <td><span class = "viewContent"></span></td>
                                </tr>
                                <tr>
                                    <!-- 9 -->
                                    <th class="title">공연 감독</th>
                                    <td><span class = "viewContent">{show_director}</span></td>
                                </tr>
                                <tr>
                                    <!-- 10 -->
                                    <th class="title">공연 주최측</th>
                                    <td><span class = "viewContent">{show_company}</span></td>
                                </tr>
                            </table>
                            
                            </p>
                        </div>
                        <button class="goViewList">목록가기</button>
                        <button class="goViewLink">예매하기</button>
                    </div>
                </div>
            </div>
            <span id="rightBtn"></span>
            <button class="modifyBtn">수정하기</button>
            <button class="deleteBtn">삭제하기</button>
            <div class="slideBox">
            </div>
        </div>
    </div>
</body>
</html>