<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Modify</title>
    <link rel="stylesheet" href="/css/show/showWrite.css">
    <script src="/script/show/showModify.js"></script>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {% include "nav.html" %}
        <div id="content">         
            <form method="post" action="/" name="modifyForm" id="modifyForm">
                <table id="modifyForm">
                    <div id="notice"> * 별표가 있는 항목은 필수 항목 입니다</div>
                    <tr>
                        <th>공연 분류 *</th>
                        <td>
                            <select name="category" id="category">
                                <option value="1">musical</option>
                                <option value="2">concert</option>
                                <option value="3">classic</option>
                                <option value="4">ballet</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>관람 등급 *</th>
                        <td>
                            <select name="xrated" id="xrated">
                                <option value="1">전체관람가</option>
                                <option value="2">청소년</option>
                                <option value="3">청소년 불가</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>공연 제목 *</th>
                        <td><input type="text" name="title" id="title"></td>
                    </tr>
                    <tr>
                        <th>예매일 *</th>
                        <td>
                            예매일은 공연 2주전으로 자동등록 됩니다.
                        </td>
                    </tr>
                    <tr>
                        <th>공연일 *</th>
                        <td>
                            <select name="showMonth" id="showMonth">
                            </select>
                            월
                            <select name="showDate" id="showDate">
                            </select>
                            일
                            <select name="showHour" id="showHour">
                            </select>
                            시
                        </td>
                    </tr>
                    <tr>
                        <th>공연 장소 *</th>
                        <td><input type="text" name="place" id="place"></td>
                    </tr>
                    <tr>
                        <th>공연 출연진 *</th>
                        <td><input type="text" name="showCast1" id="showCast1"></td>
                    </tr>
                    <tr>
                        <th>공연 보조출연진</th>
                        <td><input type="text" name="showCast2" id="showCast2"></td>
                    </tr>
                    <tr>
                        <th>공연 감독 *</th>
                        <td><input type="text" name="showDirector" id="showDirector"></td>
                    </tr>
                    <tr>
                        <th>공연 주최측 *</th>
                        <td><input type="text" name="showCompany" id="showCompany"></td>
                    </tr>
                    <tr>
                        <th>내용 작성 *</th>
                        <td>
                            <input type="text" name="showContent" id="showContent">
                        </td>
                    </tr>
                    <tr>
                        <th>첨부파일</th>
                        <td>
                            <input type="file" name="upload" id="upload">
                        </td>
                    </tr>
                </table>
                <div id="submitModifyBtn">
                    <input type="submit" value="수정하기">
                    <button id="cancle">취소하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>