<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show/showCard.css">
    <script type="text/javascript">
    </script>
</head>

<body>
    <div id="wrap">
        <div class="backImage">
            <!-- 여기가 공통된 헤더! ajax로 빼나요?
                show/_layout.html로 따로 빼놨습니다!-->
            <div id="header">
                <!-- nav 시작 -->
                <div id="nav">
                    <!-- Logo -->
                    <div id="logoBox">
                        <h1>Team6</h1>
                    </div>
                    <!-- 메인 메뉴 -->
                    <ul id="mainMenu">
                        <li id="home">
                            <a href="/">HOME</a>
                        </li>
                        <li id="show">
                            <!-- click 이벤트를 만들어주는 체크박스 -->
                            <input type="radio" name="menuCheck" id="check02">
                            <label for="check02">SHOW</label>
                            <!-- show 서브메뉴 시작 -->
                            <ul class="subMenu">
                                <li><a href="javascript">Show List</a></li>
                                <li><a href="javascript">Ticket Open Date</a></li>
                            </ul>
                            <!-- show 서브메뉴 끝 -->
                        </li>

                        <li id="board">
                            <input type="radio" name="menuCheck" id="check03">
                            <label for="check03">BOARD</label>
                            <!-- board 서브메뉴 시작 -->
                            <ul class="subMenu">
                                <li><a href="javascript">Review</a></li>
                                <li><a href="javascript">Community</a></li>
                                <li><a href="javascript">News</a></li>
                            </ul>
                            <!-- board 서브메뉴 끝 -->
                        </li>
                        <li id="my page">
                            <input type="radio" name="menuCheck" id="check04">
                            <label for="check04">MY PAGE</label>
                            <!-- my page 서브메뉴 시작 -->
                            <ul class="subMenu">
                                <li><a href="javascript">My Calendar</a></li>
                                <li><a href="javascript">My Profile</a></li>
                                <li><a href="javascript">My Ticket</a></li>
                                <li><a href="javascript">My Pick</a></li>
                                <li><a href="javascript">My Point</a></li>
                            </ul>
                            <!-- my page 서브메뉴 끝 -->
                        </li>
                        <li id="admin">
                            <input type="radio" name="menuCheck" id="check05">
                            <label for="check05">ADMIN</label>
                            <!-- admin 서브메뉴 시작 -->
                            <ul class="subMenu">
                                <li><a href="javascript">공연관리</a></li>
                                <li><a href="javascript">회원관리</a></li>
                                <li><a href="javascript">포인트관리</a></li>
                                <li><a href="javascript">보드관리</a></li>
                                <li><a href="javascript">통계</a></li>
                            </ul>
                            <!-- admin 서브메뉴 끝 -->
                        </li>
                        <li id="about">
                            <!-- <input type="radio" name="menuCheck" id="check06"> -->
                            <!-- <label for="check06"> -->
                                <a href="#">ABOUT</a>
                            <!-- </label> -->
                        </li>
                        <li>
                            <span id="mainSearch">
                                <input type="text" name="searchInput" id="searchInput">
                                <img src="/img/icon/icon_search_2x.png" name="searchIcon" id="searchIcon">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 본문 -->
            <div id="content">
                <!-- 본문 왼쪽 달력 박스 -->
                <div id="calContent">
                    <h1 class="title" style="font-family: 'korFontBold' !important;">이달의 공연 목록</h1>
                    
                    <!-- 소형 캘린더 -->
                    <div id="calSmall">
                    </div>

                    <!-- 이번주의 공연목록 -->
                    <div id="monthly">
                        <div id="monthlyTitle">Weekly</div>
                        <div id="monthTitleSmall">First Week</div>
                        <!-- 이번주 공연목록 카드 -->
                        <div id="menuSmall"></div>
                    </div>
                </div>
                
                <!-- 카드 컨텐츠 -->
                <div id="mainContent">
                    <h1 style="font-family: 'korFontBold' !important;">카드뉴스</h1>
                    <div id="mainContentTitle">
                        <!-- 카드 컨텐츠 타이틀 -->
                        <div id="mainContentTitleMonth">
                            <span>MAR 2022</span>
                            <button class="miniBtn">
                                <img src="/img/icon/icon_next_2x.png" style="transform: rotate(180deg);" id="prev_arrow">
                            </button>
                            <button class="miniBtn">
                                <img src="/img/icon/icon_next_2x.png" id="next_arrow">
                            </button>
                        </div>
                        <!-- 보기 형태 선택 아이콘 : 리스트 or 앨범 or 캘린더 버튼 -->
                        <div id="mainContentTitleIcon">
                            <button class="miniBtn">
                                <img src="/img/icon/icon_list_2x.png" id="List">
                            </button>
                            <button class="miniBtn">
                                <img src="/img/icon/icon_grid_2x.png" id="grid">
                            </button>
                            <button class="miniBtn">
                                <img src="/img/icon/icon_cal_2x.png" id="calBtn">
                            </button>
                        </div>
                    </div>

                    <!-- 카드 컨텐츠 박스 -->
                    <div id="scrollBox">
                        <ul class="ulCard">
                            <!-- 개별 카드 -->
                            <li>
                                <div class="textBox">
                                    <span class="cardTag"></span>
                                    <span class="cardTitle"></span>
                                </div>
                                <div class="imgBox"></div>
                            </li>
                            <li>
                                <div class="textBox">
                                    <span class="cardTag"></span>
                                    <span class="cardTitle"></span>
                                </div>
                                <div class="imgBox"></div>
                            </li>
                            <li>
                                <div class="textBox">
                                    <span class="cardTag"></span>
                                    <span class="cardTitle"></span>
                                </div>
                                <div class="imgBox"></div>
                            </li>
                            <li>
                                <div class="textBox">
                                    <span class="cardTag"></span>
                                    <span class="cardTitle"></span>
                                </div>
                                <div class="imgBox"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- 카드 부가설명 박스 -->
                    <div class="infoCard">
                        <!-- 연극장 정보 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>