<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Modify</title>
</head>
<body>
    <!-- 관리자만 사용할 수 있는 게시판 작성 -->
    <form method="post" action="#" name="writeForm" id="writeForm">
        <table>
            <!-- <tr>
                <input type="text" id="tag" placeholder="태그">
            </tr> -->
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" name="title" id="title" placeholder="타이틀">
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea type="text" name="content" id="content"></textarea>
                </td>
            </tr>
            <input type="hidden" name="idx" id="idx">
        </table>
        <input type="submit" value="작성하기">
    </form>
</body>
</html>