/* 
  html 전체 틀을 만드는 css입니다.
  필수적으로 적용해주세요.
  
  index와 같은 depth로 있는 폴더 안에 있는 css에서 사용할 경우,
  예) public > css > account > index.css 에서 사용.

  @import url('../index/_settingLayout.css');
  로 삽입하시면 됩니다.
*/


*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none;}
input:focus{outline: none;}
input{border: none;}
button{border:none; background: none;}

/* 배경 이미지 시작 */
/* margin, padding까지 계산해서 vh를 만들어주는 것을 막아주는 코드 */
:root {
    --vh: 100%;
}
body{
    height: 100vh;
    height: var(--vh);
    /* zoom:75%; */
}

#wrap{
    width: 100vw;
}
