<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script/book/book_1.js"></script>
    <link href="/css/book/book_1.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="bigBox">
            <div id="leftBox">
                <span>
                    <h3 class="head">공연 정보</h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <table cellspacing="0" cellpadding="0" id ="showInfo">
                        <thead>
                            <th>공연명</th>
                            <th id = "showTitle"></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    공연분류
                                </td>
                                <td id="category"></td>
                            </tr>
                            <tr>
                                <td>
                                    제작
                                </td>
                                <td id="company">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    공연일자 
                                </td>
                                <td id="date">
                                    <select id="date" name="date">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    공연장소
                                </td>
                                <td id="place" >
                                    <select name="place">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    시간
                                </td>
                                <td id="time">
                                    <select name="time">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="notice">
                                    <p> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="line"></span>
            <div id="rightBox">
                <span>
                    <h3 class="head">좌석정보 입력</h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <table cellspacing="0" cellpadding="0" id ="seatSelect">
                        <!-- <thead>
                            <th>무통장입금</th>
                        </thead> -->
                        <tbody>
                            <tr>
                                <td>
                                    열
                                </td>
                                <td>
                                    <select id="row" name="row">
                                        <option value="0">열을 선택해주세요</option>
                                        <option value="1">1열</option>
                                        <option value="2">2열</option>
                                        <option value="3">3열</option>
                                        <option value="4">4열</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    번호
                                </td>
                                <td>
                                    <select id="number" name="number">
                                        <option value="0">좌석을 선택해주세요</option>
                                        <option value="1">1번</option>
                                        <option value="2">2번</option>
                                        <option value="3">3번</option>
                                        <option value="4">4번</option>
                                        <option value="5">5번</option>
                                    </select>
                                </td>                            
                            </tr>
                            <tr>
                                <td>
                                    가격
                                </td>
                                <td id="price"></td>                            
                            </tr>
                            <tr>
                                <table id ="seatInfo">
                                    <tr class="stageTr">
                                        <td></td>
                                        <td colspan="5" class="stageTd" id="stage">stage</td>
                                    </tr>
                                    <tr class="seatTr">
                                        <td class="seatRow"></td>
                                        <td class="seatTd">1</td>
                                        <td class="seatTd">2</td>
                                        <td class="seatTd">3</td>
                                        <td class="seatTd">4</td>
                                        <td class="seatTd">5</td>
                                    </tr>
                                    <tr class="seatTr">
                                        <td class="seatRow"></td>
                                        <td class="seatTd">1</td>
                                        <td class="seatTd">2</td>
                                        <td class="seatTd">3</td>
                                        <td class="seatTd">4</td>
                                        <td class="seatTd">5</td>
                                    </tr>
                                    <tr class="seatTr">
                                        <td class="seatRow"></td>
                                        <td class="seatTd">1</td>
                                        <td class="seatTd">2</td>
                                        <td class="seatTd">3</td>
                                        <td class="seatTd">4</td>
                                        <td class="seatTd">5</td>
                                    </tr>
                                    <tr class="seatTr">
                                        <td class="seatRow"></td>
                                        <td class="seatTd">1</td>
                                        <td class="seatTd">2</td>
                                        <td class="seatTd">3</td>
                                        <td class="seatTd">4</td>
                                        <td class="seatTd">5</td>
                                    </tr>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                    <span class="msg">좌석 정보를 입력해주세요</span>
                    <input type="button" value="next" id="next">
                </div>
            </div>
        </div>
    </div>
</body>

</html>