<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script/book/book_1.js"></script>
    <link href="/css/book/book_1.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="bigBox">
            <div id="leftBox">
                <span>
                    <h3 class="head">공연 정보</h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <th id = "showTitle">공연명</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    카테고리
                                </td>
                                <td id="ticketPrice">공연 분류</td>
                            </tr>
                            <tr>
                                <td>
                                    제작
                                </td>
                                <td id="product">
                                    <select id="product" name="product">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    공연일자 
                                </td>
                                <td id>
                                    <select id="date" name="date">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    공연장소
                                </td>
                                <td id>
                                    <select id="place" name="place">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    회차
                                </td>
                                <td>
                                    <select id="round" name="round">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="notice">
                                    <p>은행에 따라 밤 11시 30분 이후로는 </p>
                                    <p>온라인 입금이 제한 될 수 있습니다.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="line"></span>
            <div id="rightBox">
                <span>
                    <h3 class="head">결제수단 입력</h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <th>무통장입금</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    입금액
                                </td>
                                <td id="ticketPrice"></td>
                            </tr>
                            <tr>
                                <td>
                                    입금하실 은행
                                </td>
                                <td id="bankOption">
                                    <select id="bank" name="bank">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="notice">
                                    <p>은행에 따라 밤 11시 30분 이후로는 </p>
                                    <p>온라인 입금이 제한 될 수 있습니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    입금마감일시
                                </td>
                                <td id="deadLine"></td>
                            </tr>
                            <tr>
                                <td>
                                    예금주명
                                </td>
                                <td>
                                    team6.Ltd
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="button" value="next" id="next">
                </div>
            </div>
        </div>
    </div>
</body>

</html>