<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script/payment/payment_2.js"></script>
    <link href="/css/payment/payment_2.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="bigBox">
            <div id="leftBox">
                <span>
                    <h3 class="head"> 예매정보 </h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <table cellspacing="0" cellpadding="0" class="pay2Table">
                        <thead>
                            <tr>
                                <th>예매번호</th>
                                <td id ="bookNumber">T123456789</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    장소
                                </td>
                                <td id="showPlace">예술의 전당 오페라홀</td>
                            </tr>
                            <tr>
                                <td>
                                    일시
                                </td>
                                <td id="showDate"> 2022년 04월 10일 PM 11:59 </td>
                            </tr>
                            <tr>
                                <td>
                                    공연명
                                </td>
                                <td id="bookSeat"> 호두까기 인형 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table cellspacing="0" cellpadding="0" class="pay2Table">
                        <tbody>
                            <tr>
                                <td>
                                    예매자명
                                </td>
                                <td id="customer"></td>
                            </tr>
                            <tr>
                                <td>
                                    연락처
                                </td>
                                <td id="mobile"> 010 - 1111 -1111</td>
                            </tr>
                            <tr>
                                <td>
                                    티켓 수령 방법
                                </td>
                                <td id="willCall"> 현장수령 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="line"></span>
            <div id="rightBox">
                <span>
                    <h3 class="head">결제 정보</h3>
                </span>
                <span class="botLine"></span>
                <div>
                    <div>
                        <table cellspacing="0" cellpadding="0" class="pay2Table">
                            <thead>
                                <th colspan="2">결제 정보</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        총 결제 금액
                                    </td>
                                    <td id="totalPrice"></td>
                                </tr>
                                <tr>
                                    <td>
                                        티켓금액
                                    </td>
                                    <td id="ticketPrice"></td>
                                </tr>
                                <tr>
                                    <td>
                                        수수료
                                    </td>
                                    <td id="fee"></td>
                                </tr>
                                <tr>
                                    <!-- <td colspan="2" class="notice">
                                        <p>은행에 따라 밤 11시 30분 이후로는 </p>
                                        <p>온라인 입금이 제한 될 수 있습니다.</p>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table cellspacing="0" cellpadding="0" class="pay2Table">
                            <thead>
                                <th colspan="2">결제 상제 정보</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        결제방법
                                    </td>
                                    <td> 무통장 입금 </td>
                                </tr>
                                <tr>
                                    <td>
                                        입금마감일시
                                    </td>
                                    <td id="deadLine"></td>
                                </tr>
                                <tr>
                                    <td>
                                        입금계좌
                                    </td>
                                    <td> 우리은행: 26109820818219 </td>
                                </tr>
                                <tr>
                                    <td>
                                        예금주명
                                    </td>
                                    <td> team6.Ltd </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="2" class="notice">
                                        <p>은행에 따라 밤 11시 30분 이후로는 </p>
                                        <p>온라인 입금이 제한 될 수 있습니다.</p>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        <input type="button" value="close" id="close">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>