@import url('../index/_fontLayout.css');
@import url('../index/_headerLayout.css');
@import url('../index/_settingLayout.css');

body{
    zoom:100%;
    padding-bottom: 300px;
}

#newsbody{
    zoom:100%;
    padding-bottom:0;
}



#label {
    width: 80%;
    margin:4% auto 0 auto;
    text-align: end;
}

#label span {
    font-weight: 600;
    padding: 7px 14px;
    box-sizing: border-box;
    background: #f4d3aa;
    font-size:25px;
    
}

table{
    width:80%;
    margin:0.5% auto;
    font-size:25px;
    border-spacing: 0 5px;
}


#viewHead td{
    padding:8px 14px;
    border-bottom:1px solid #eee;
    text-align: center;
    box-sizing: border-box;
}


th{
    background-color: #a8bebf;
    border-bottom: 2px solid #465d59;
    height: 25px;
    padding:8px 14px;
    box-sizing: border-box;
    text-align: center;
}

.newsView{
    height: 300px !important;
}

.newsViewTable{
    margin-top: 5%;
}

.newsViewTable th{
    background-color: #080c31;
    border-bottom: 2px solid #fff;
    color:#fff;
}

th:nth-child(1){
    width:5%;
}
th:nth-child(2){
    width:45%;
}
th:nth-child(3){
    width:15%;
}
th:nth-child(4){
    width:25%;
}


#eye {
    width:25px;
    height: 25px;
}

#eye img{
    width: 25px;
    padding:1px;
    padding-top: 5px;
    box-sizing: border-box;
    align-items: center;
}

.newsEye img{
    width: 25px;
    padding:1px;
    padding-top: 5px;
    box-sizing: border-box;
    align-items: center;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

th:nth-child(6){
    width:3%;
}

.like {
    font-size: 28px;
	-webkit-animation: like 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: like 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes like {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes like {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  

#categoryBox{
    width:80%;
    margin:3% auto;
}
#category {
    width:fit-content;
    border-radius: 10px;
    font-size:17px;
    padding:7px 14px;
    box-sizing: border-box;
    font-size:25px;
    border:dotted 1px #fff;
}

#viewContent{
    width:80%;
    margin:3% auto 0 auto;
    height:200px;
    border-bottom:1px solid #eee;
    font-size:25px;
}

#img{
    width:50px;
    margin: 0 auto;
    height:50px;
}

#img img {
    width:50px;
    height: 50px;;
}

#button {
    width:80%;
    margin: 0 auto;
    margin-top:3%;
    display: flex;
    justify-content: space-between;
}

#button button a{
    padding: 7px 12px;
    color: #fff !important;
    font-size: 25px;
    border: 1px dotted #fff;
    background: #64cbe6;
    border-radius: 20px;
}

.delete{
    padding: 7px 12px;
    color: #fff !important;
    font-size: 25px;
    border: 1px dotted #fff;
    background: #64cbe6;
    border-radius: 20px;
}

.newsButton{
    padding-bottom: 5%;
    box-sizing: border-box;
}

.newsButton button a{
    background: #080c31 !important;
}

.newsButton form button{
    background: #080c31;
}

#commentBox {
    width:100%;
    height: auto;
    margin: 0 auto;
    margin-top:2%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 25px;
}

#hello {
    width:40%;
    font-size:25px;
    padding:0.3% 0;
    box-sizing: border-box;
    border-bottom: 1px solid #465d59;
   
}

.commentSubmit {
    color: #465d59 !important;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: end;
}

.commentRow{
    margin-top:2%;
    border: 1px solid #465d59;
    padding: 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.commentContent {
    width: 50%;
}

.commentDeleteBtn {  
    font-size: 14px;
    line-height: 20px;
    background: #a8bebf;
    border-radius: 3px;
    color:#eee;
    padding:0.2%;
    box-sizing: border-box;
    
}

.commentRow li:nth-child(2){
    margin-top:0.5%;
    font-size: 20px;
   
}

.commentID{
    color:#465d59;
    font-size: 23px;
}

details{
    width:80%;
    height: 30px;
    margin:0 auto;
    margin-top: 2%;
    padding: 7px;
    /* box-sizing: border-box; */
    background: #a8bebf;
    border-radius: 10px;
    
}

details summary{
    /* line-height: 30px; */
    font-size:25px;
}







