@import url('../index/_fontLayout.css');
@import url('../index/_headerLayout.css');
@import url('../index/_settingLayout.css');

body{
    zoom:100%;
    font-size: 18px;
}

#label {
    width: 80%;
    margin:4% auto 0 auto;
    text-align: end;
}

#label span {
    font-weight: 600;
    padding: 7px 14px;
    box-sizing: border-box;
    background: #f4d3aa;
    font-size:18px;
    
}

form {
    width:80%;
    margin:5% auto;
    padding:3% 0;
    box-sizing: border-box;
    border:1px dotted #f4d3aa;
    border-radius: 20px;
}

table {
    /* margin: 0 auto; */
    margin-top:16px;
    width:100%;
    border-spacing: 25px;
    
}

td:nth-child(1){
    text-align: end;
    width:15%;
}

select{
    font-size: 16px;
    border:1px solid #f4d3aa;
}

input{
    width:90%;
    padding:0.5%;
    box-sizing: border-box;
    border-bottom: 1px solid #f4d3aa;
}

textarea{
    border:1px solid #f4d3aa;
    width:90%;
    height:200px;
    padding:0.5%;
    box-sizing: border-box;
}

#updateFile {
    border:none;
    display: none;
}

#button{
    width: 80%;
    margin:0 auto;
    text-align: end;
}

#submit{
    width:fit-content;
    padding:7px 14px;
    box-sizing: border-box;
    background: #f4d3aa;
    border-radius: 10px;
    
}

#fileBox{
    width:90%;
    padding-top:5px;
    box-sizing: border-box;
    display: flex;
}

.fileBtn label {
    padding: 4px 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    background-color:#f4d3aa;
}

.fileName {
    margin-left:2%;
    width:100%;
    
}

.fileName p {
    font-size: 16px;
    border-bottom: 1px solid #f4d3aa;
    padding-top:5px;
    box-sizing: border-box;
}

.fileName p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color:#f4d3aa;
}

